[2019-06-11 15:57] cvavrus commented on #394
Suggested inserts:
[code]
[code]
[code]

[2019-06-12 15:36] ericjohannes opened #395 "Geology of Lawrence County Indiana"
**Name:**

GEOLOGY_OF_LAWRENCE_COUNTY_INDIANA.GDB: Combined 7.5-minute quadrangle bedrock and unconsolidated geologic maps of Lawrence County, Indiana (Indiana Geological Survey, scale 1:48,000, Esri geodatabase)

**Source URL:**

zip of gdb: https://iu.box.com/s/ezlhd981jx8zxspewa0d6zckiotqlpi6

**Estimated scale:**

Large

**Folder name:**

**Dataset names:**

bedrock polygons: GeologicMap/MapUn

[2019-06-12 17:33] cambro commented on #395
do you have a full citation and/or link to any relevant publications? Not required, but generally nice. I'm guessing it is this one? https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=DI20

[2019-06-12 17:39] ericjohannes commented on #395
@cambro Yep, that's the publication. So the citation would be:
Keith, B. D., Thompson, T. A., Herrmann, E. W., Rupp, R. F., Hasenmueller, W. A., and Johnson, M. R., 2014, GEOLOGY_OF_LAWRENCE_COUNTY_INDIANA.GDB [Esri geodatabase]: Indiana Geological and Water Survey Digital Information 20, scale 1:48,000.

[2019-06-12 17:41] ericjohannes commented on #395
A related publication is https://igws.indiana.edu/bookstore/details.cfm?ItemID=2263&Pub_Num=MM90

[2019-06-12 17:55] cambro commented on #395
source_id 245
https://dev.macrostrat.org/burwell/#11/38.8448/-86.5266

[2019-06-12 17:55] #395 closed, assigned to nobody

[2019-06-12 18:07] cvavrus opened #396 "Circle Lake, NU"
**Name:**
Sanborn-Barrie, M. and Young, M., 2013. Geology, Circle Lake, Baffin Island, Nunavut; Geological Survey of Canada, Canadian Geoscience Map 5 (preliminary), scale 1:100 000. doi:10.4095/288929

**Source URL:**
https://doi.org/10.4095/288929

**Estimated scale:**
large

**Folder name:**
nu_circle

**Dataset names:**
nu_circle
nu_circle_lines
nu_circle_points

**Number of bedrock polygons:*

[2019-06-12 18:11] cvavrus commented on #396
Suggested inserts:
[code]
[code]
[code]

[2019-06-12 19:03] ericjohannes opened #397 "Structural Features of Indiana"
**Name:**

STRUCTURAL_FEATURES_IN: Structural Features of Indiana (Indiana Geological Survey, Line Shapefile)

**Source URL:**

data: http://maps.indiana.edu/download/Geology/Bedrock_Structural_Features.zip
metadata: https://maps.indiana.edu/previewMaps/Geology/Bedrock_Structural_Features.html

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

Bedrock_Structural_Features.zip

**N

[2019-06-12 19:37] cvavrus opened #398 "Sunneshine Fiord, NU"
**Name:**
Sanborn-Barrie, M., Young, M., Keim, R. and Hamilton, B., 2013. Geology, Sunneshine Fiord, Baffin Island, Nunavut; Geological Survey of Canada, Canadian Geoscience Map 6 (preliminary), scale 1:100 000. doi:10.4095/288931

**Source URL:**
https://doi.org/10.4095/288931

**Estimated scale:**
large

**Folder name:**
nu_sunneshine

**Dataset names:**
nu_sunneshine
nu_sunneshine_lines
nu_sunn

[2019-06-12 19:41] cvavrus commented on #398
Suggested inserts:
[code]
[code]
[code]

[2019-06-13 00:46] cambro commented on #398
This one has some bizarro geometry errors... the NW corner of the map has really messed up geometries and I can't quite figure out how best to fix them.

A source was added for this one because error wasn't caught until insertion attempt into maps.large: source_id 246

[2019-06-13 01:14] cambro commented on #398
I was able to fix this by inspecting the output of:
[code]
One row had ST_GeometryCollection, and one row had ST_LineString. These were the offending geometries.
I then inspected the: ```select gid,st_astext(ST_MakeValid(geom)) from sources.nu_sunneshine;``` output for these two geometries and manually removed the random linestrings and other oddities and redefined the geometries in a geom_mod col

[2019-06-13 01:31] cambro commented on #398
source_id 246
https://dev.macrostrat.org/burwell#10/66.46667/-62.20973

[2019-06-13 01:36] #398 closed, assigned to cambro

[2019-06-13 02:10] cambro commented on #396
source_id 247
https://dev.macrostrat.org/burwell#10/66.466665/-64.13325999999999

[2019-06-13 02:11] #396 closed, assigned to cambro

[2019-06-13 13:51] cambro commented on #372
@cvavrus if there are any more maps at this scale be sure to grab them!

[2019-06-13 13:54] cambro commented on #372
source_id 248

the group_ field was not the best unit name... had to add a new column and populate it with several different fields.
https://dev.macrostrat.org/burwell#7/66.999985/-90.999995

[2019-06-13 16:07] #372 closed

[2019-06-13 16:11] #350 closed

[2019-06-13 17:21] #190 closed

[2019-06-13 19:30] ericjohannes opened #399 "Bedrock Geology of Marion County"
**Name:**

BEDROCK_GEOLOGY_MARIONCO: A map of the bedrock geology of Marion County, Indiana (Indiana Geological Survey, 1:100,000, Polygon shapefile)

**Source URL:**

publication: https://igws.indiana.edu/AllenCounty/Map/
data: https://iu.box.com/s/v1ris2b0lvhpz0ao79fncm92ef8yivwi

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

shapefile/MarionCo_BedrockGeology.shp

**Number o

[2019-06-14 01:33] cambro commented on #399
links in description were removed because they were non-specific (i.e., they were all the same and would require a user to type a search string into a form in order to see any information about the unit). If the survey wishes to create a RESTful service for this (i.e., where each record is uniquely identified by a URL) then we can add links.

[2019-06-14 01:43] cambro commented on #399
source_id 250
https://dev.macrostrat.org/burwell/#12/39.7787/-86.1392

[2019-06-14 01:44] #399 closed, assigned to nobody

[2019-06-14 12:07] ericjohannes commented on #399
@cambro Oops, no, there's no need to add links. I thought we'd cleaned those out of the attribute table.

[2019-06-14 16:05] ericjohannes opened #400 "Marion County (Indiana) Surficial Geology"
**Name:**

Pimary: GLACIAL_TERRAINS_SURFICIAL_GEOLOGY_MARIONCO: A map of the surficial geology of Marion County, Indiana (Indiana Geological Survey, 1:50,000, Polygon shapefile)

**Source URL:**

https://iu.box.com/s/6nsql9rol8zo79h6yfnwrpe3h2hfmzt3

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

Glacial_Terrains_Surficial_Geology_MarionCo.gdb/Glacial_Terrains_Surficial_Geology

[2019-06-14 18:03] cambro commented on #288
source_id 251
This one required extensive copying and pasting descriptions and harmonizing time intervals.

[2019-06-15 14:53] cambro commented on #394
source_id 252
https://dev.macrostrat.org/burwell#10/62.25008/-67.75

[2019-06-15 14:56] #394 closed, assigned to cambro

[2019-06-15 15:13] cambro commented on #393
The lith_list field should have been included in lith here. I modified insert to accommodate this. Also, some dips were given as -1, which doesn't make any sense. These points left out.

source_id 253
https://dev.macrostrat.org/burwell#10/63.50032/-99.000155

[2019-06-15 15:15] #393 closed, assigned to cambro

[2019-06-15 15:30] cambro commented on #344
source_id 254
https://dev.macrostrat.org/burwell#10/65.75/-127.5

[2019-06-15 15:30] #344 closed

[2019-06-15 15:44] cambro commented on #333
source_id 255
https://dev.macrostrat.org/burwell#10/64.75/-127.5

[2019-06-15 15:44] #333 closed

[2019-06-15 17:09] cambro commented on #342
source_id 256
https://dev.macrostrat.org/burwell#10/64.25/-127.5

[2019-06-15 17:09] #342 closed

[2019-06-15 17:15] #341 closed

[2019-06-15 17:23] cambro commented on #337
this appears to be almost an exact duplicate of current Yukon map source_id 24

[2019-06-15 17:23] #337 closed

[2019-06-15 17:27] #288 closed

[2019-06-15 17:31] cambro commented on #269
This seems like it has no data associated with besides the geometries

[2019-06-15 17:31] #269 closed

[2019-06-15 17:36] cambro commented on #263
Ideally these would be fixed in the original source table. but, it appears that the data have been updated so we can move on for now...

[2019-06-15 17:36] #263 closed

[2019-06-15 17:37] #189 closed

[2019-06-15 17:38] #238 closed

[2019-06-15 17:39] #118 closed

[2019-06-15 17:48] cambro commented on #388
source_id 257
https://dev.macrostrat.org/burwell#10/72.27621500000001/-79.55000000000001

[2019-06-15 17:48] #388 closed, assigned to cambro

[2019-06-17 13:41] ericjohannes opened #401 "Bedrock Lithology in Allen County, Indiana"
**Name:**

BEDROCK_GEOLOGY_IGS_ALLEN: Bedrock Lithology in Allen County, Indiana (Indiana Geological Survey, scale 1:63,360, Polygon Personal GeoDatabase Feature Class)

**Source URL:**

https://iu.box.com/s/rxks2hqt2uns6yzpg60u5pk9onm0j9lq

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

AllenCounty_BedrockGeology.shp

**Number of bedrock polygons:**
31

**Lithology field:**

*

[2019-06-17 14:38] cambro commented on #401
source_id 260
https://dev.macrostrat.org/burwell/#11/41.0832/-85.0544

[2019-06-17 14:38] #401 closed, assigned to nobody

[2019-06-17 17:05] cvavrus commented on #287
Suggested inserts:
[code]
[code]
[code]
Also note that the strike, dipangle, and dipdirecti values for some of the points seem incorrect.

[2019-06-17 17:06] cvavrus commented on #286
Suggested inserts:
[code]
[code]
[code]
Note that the values for some of the strike, dipangle, dipdirecti seem incorrect.

[2019-06-17 17:25] cambro commented on #392
source_id 261
https://dev.macrostrat.org/burwell#10/66.46667/-62.20973

[2019-06-17 17:25] #392 closed, assigned to cambro

[2019-06-17 20:29] cambro commented on #287
source_id 262
https://dev.macrostrat.org/burwell#10/41.249945/-111.500755

[2019-06-17 20:30] #287 closed

[2019-06-17 20:49] cambro commented on #286
source_id 263
https://dev.macrostrat.org/burwell#10/40.74995/-112.50079

[2019-06-17 20:59] #286 closed

[2019-06-17 21:02] ericjohannes opened #402 "Quaternary Geologic Map of Indiana"
**Name:**

SURFICIAL_GEOL_MM49_IN: Quaternary Geologic Map of Indiana (Indiana Geological Survey, 1:500,000, Polygon Shapefile)

UNCONSOLIDATED_THICKNESS_250K_IGS_IN.SHP: Unconsolidated Thickness Contours of Indiana (Indiana Geological Survey, 1:250,000, Line Shapefile)

**Source URL:**

SURFICIAL_GEOL_MM49_IN:
https://iu.box.com/s/7nuvm0vp1h8msq9jzx5w2omjnwfqj4u7

UNCONSOLIDATED_THICKNESS_250K_IG

[2019-06-17 21:02] ericjohannes opened #403 "Bedrock Surface Contours of Indiana"
**Name:**

BEDROCK_SURFACE_250K_IGS_IN: Bedrock Surface Contours of Indiana (Indiana Geological Survey, 1:250,000, Line Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Bedrock_Surface_Contours.zip

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

lines: Bedrock_Surface_250k_IGS_IN.shp
metadata: Bedrock_Surface_250k_IGS_IN.txt
**Number of bedrock polygons:**

[2019-06-17 21:02] ericjohannes opened #404 "Unconsolidated Thickness Contours of Indiana"
**Name:**

UNCONSOLIDATED_THICKNESS_250K_IGS_IN.SHP: Unconsolidated Thickness Contours of Indiana (Indiana Geological Survey, 1:250,000, Line Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Surficial_Unconsolidated_Thickness_Contours.zip

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

data: Unconsolidated_Thickness_250k_IGS_IN.shp
metadata: Unconsolidated

[2019-06-18 15:58] ericjohannes opened #405 "Glacial and Surficial Geology in Allen County, Indiana"
**Name:**

Rupp, R. F., digital compiler, 2007, SURFICIAL_GEOLOGY_IGS_ALLEN: Glacial and Surficial Geology in Allen County, Indiana (Indiana Geological Survey, scale 1:63,360, Polygon Personal GeoDatabase Feature Class)

**Source URL:**

https://iu.box.com/s/vn57z5v1k8dfbj17efj9oz3qj1wex735

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

data/AllenCounty_SurficialGeology.shp

*

[2019-06-19 18:46] cvavrus opened #406 "Calder River, NWT"
**Name:**
Hildebrand, R.S., Bowring, S.A., and Pelletier, K.S., 2014. Geology, Calder River,
Northwest Territories, NTS 86-F; Geological Survey of Canada, Canadian Geoscience
Map 154 (preliminary); Northwest Territories Geoscience Office, NWT Open Report
2013-003, scale 1:125 000. doi:10.4095/292861

**Source URL:**
https://doi.org/10.4095/292861

**Estimated scale:**
large

**Folder name:**
nwt_c

[2019-06-19 18:54] cvavrus commented on #406
Suggested inserts:
[code]
[code]
[code]

[2019-06-19 19:16] ericjohannes opened #407 "Epicenters of Earthquakes in Indiana with a Moment Magnitude Equal to or Greater Than 3.0"
**Name:**

EARTHQUAKE_EPICENTERS_IN: Epicenters of Earthquakes in Indiana with a Moment Magnitude Equal to or Greater Than 3.0 (Indiana Geological Survey, 1:500,000, Point Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Seismic_Earthquake_Epicenters.zip
http://maps.indiana.edu/previewMaps/Geology/Seismic_Earthquake_Epicenters.html

**Estimated scale:**

medium

**Folder name:

[2019-06-19 19:24] ericjohannes opened #408 "Abandoned Quarries in Indiana"
**Name:**

Hasenmueller, W.A., and Ault, C.H., 2001, Abandoned Industrial Minerals Quarries in Indiana, 2nd Edition, Digital Version, Computer Database 2, Indiana Geological Survey.

**Source URL:**

data: http://maps.indiana.edu/download/Geology/Industrial_Minerals_Quarries_Abandoned.zip
map: http://maps.indiana.edu/previewMaps/Geology/Industrial_Minerals_Quarries_Abandoned.html

more data: https

[2019-06-19 20:11] ericjohannes opened #409 "Petroluem Fields (2015) (Indiana)"
**Name:**

PETROLEUM_FIELDS_IGS_IN.SHP: Petroleum Reservoir Fields (Oil and Gas) in Indiana (Indiana Geological Survey, 1:63,360, Polygon Shapefile)

**Source URL:**

data: http://maps.indiana.edu/download/Geology/Petroleum_Fields.zip
metadata: https://maps.indiana.edu/metadata/Geology/Petroleum_Fields.html

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

Petroleum_Fields_IGS_I

[2019-06-19 20:30] ericjohannes opened #410 "Physiographic Regions of Indiana"
**Name:**

PHYSIOGRAPHY_SR61_IN: Physiographic Regions of Indiana (Indiana Geological Survey, 1:500,000, Polygon Shapefile)

**Source URL:**

data: http://maps.indiana.edu/download/Geology/Physiography_Regions.zip
metadata: https://maps.indiana.edu/metadata/Geology/Physiography_Regions.html

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
24

**L

[2019-06-19 20:49] ericjohannes opened #411 "Petroleum Well Locations in Indiana"
**Name:**

PETROLEUM_WELLS_IGS_IN.SHP: Petroleum Well Locations in Indiana (Indiana Geological Survey, 1:24,000, Point Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Petroleum_Wells.zip

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

data: Petroleum_Wells_IGS_IN.shp
metadata: Petroleum_Wells_IGS_IN.txt
**Number of bedrock polygons:**

**Lithology field:*

[2019-06-20 13:38] ericjohannes opened #412 "Underground Coal Mine Entrances in Indiana"
**Name:**

COAL_MINE_ENTRIES_DNR_IN.SHP: Underground Coal Mine Entrances in Indiana (Indiana Department of Natural Resources, Division of Reclamation, Point Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Coal_Mines_Entries.zip

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

data: Coal_Mine_Entries_DNR_IN.shp
metadata: Coal_Mine_Entries_DNR_IN.txt

**Numb

[2019-06-20 14:08] ericjohannes opened #413 "Economic Geology Indiana (coal mines, industrial minerals, quarries)"
**Name:**
COAL_MINE_SURFACE_DNR_IN.SHP: Surface Coal Mines in Indiana (Indiana Department of Natural Resources, Division of Reclamation, Polygon Shapefile)

INDUSTRIAL_MINERALS_ACTIVE_2016_IN.SHP: Locations of Operation for Active Industrial Minerals Producers in 2016 in Indiana (Indiana Geological Survey, Point Shapefile)

COAL_MINE_ENTRIES_DNR_IN.SHP: Underground Coal Mine Entrances in Indiana (

[2019-06-20 14:31] ericjohannes opened #414 "Underground Coal Mines in Indiana"
**Name:**

COAL_MINE_UNDERGROUND_DNR_IN.SHP: Underground Coal Mines in Indiana (Indiana Department of Natural Resources, Division of Reclamation, Polygon Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Coal_Mines_Underground.zip

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

data: Coal_Mine_Underground_DNR_IN.shp
shapes: Coal_Mine_Underground_DNR_IN.txt

[2019-06-20 14:45] cvavrus opened #415 "S Beekman Peninsula, NU"
**Name:**
Steenkamp, H.M., Gilbert, C., St-Onge, M.R., 2016. Geology, Beekman Peninsula (south), Baffin Island, Nunavut, NTS 25-P (south) and NTS 15-M (part); Geological Survey of Canada, Canadian Geoscience Map 267 (preliminary); Canada-Nunavut Geoscience Office, Open File Map 2016-04, scale 1:100 000. doi:10.4095/297351

**Source URL:**
https://doi.org/10.4095/297351

**Estimated scale:**
large

[2019-06-20 14:48] ericjohannes opened #416 "Southern extent of glaciation in Indiana"
**Name:**

PRE-WISCONSIN_GLACIAL_LIMIT_IN: Southern extent of glaciation in Indiana (Indiana Geological Survey, 1:500,000, Line Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Glacial_PreWisconsin_Glacial_Limit.zip

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

data: PRE-WISCONSIN_GLACIAL_LIMIT_IN.shp
metadata: PRE-WISCONSIN_GLACIAL_LIMIT_IN.txt

**Numbe

[2019-06-20 14:48] cvavrus commented on #415
Suggested inserts:
[code]
[code]

[2019-06-20 14:59] cvavrus opened #417 "N Beekman Peninsula, NU"
**Name:**
Steenkamp, H.M., Gilbert, C., and St-Onge, M.R., 2016. Geology, Beekman Peninsula (north), Baffin Island, Nunavut, NTS 25-P (north) and NTS 15-M (part); Geological Survey of Canada, Canadian Geoscience Map 268 (preliminary); Canada-Nunavut Geoscience Office, Open File Map 2016-05, scale 1:100 000. doi:10.4095/297352

**Source URL:**
https://doi.org/10.4095/297352

**Estimated scale:**
la

[2019-06-20 15:02] cvavrus commented on #417
Suggested insert:
[code]
[code]

[2019-06-20 15:17] ericjohannes opened #418 "Extent of Wisconsin glaciation in Indiana"
**Name:**

WISCONSIN_GLACIAL_LIMIT_IN: Extent of Wisconsin glaciation in Indiana (Indiana Geological Survey, 1:500,000, Line Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Glacial_Wisconsin_Glacial_Limit.zip

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

data: WISCONSIN_GLACIAL_LIMIT_IN.shp
metadata: WISCONSIN_GLACIAL_LIMIT_IN.txt

**Number of bedrock p

[2019-06-20 15:42] ericjohannes opened #419 "Silurian Reef Locations in Indiana"
**Name:**

SILURIAN_REEF_POINTS_MM54_IN: Silurian Reef Locations in Indiana (Indiana Geological Survey, 1:500,000, Point Shapefile)

**Source URL:**

data: http://maps.indiana.edu/download/Geology/Silurian_Reefs_Points.zip
metadata: http://maps.indiana.edu/previewMaps/Geology/Silurian_Reefs_Points.html

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

SILURIAN_REEF_POINTS_MM54_I

[2019-06-20 16:02] ericjohannes opened #420 "Silurian Reef Locations in Indiana"
**Name:**

SILURIAN_REEF_POLYGONS_MM54_IN: Silurian Reef Locations in Indiana (Indiana Geological Survey, 1:500,000, Polygon Shapefile)

**Source URL:**

Polygons
data: http://maps.indiana.edu/download/Geology/Silurian_Reefs_Polygons.zip
metadata: http://maps.indiana.edu/metadata/Geology/Silurian_Reefs_Polygons.html

Points data
data: http://maps.indiana.edu/download/Geology/Silurian_Reefs_Points.

[2019-06-20 16:05] cvavrus opened #421 "N Chidliak Bay, NU"
**Name:**
Steenkamp, H.M., Gilbert, C., and St-Onge, M.R., 2016. Geology, Chidliak Bay (north), Baffin Island, Nunavut, NTS 26-B (north); Geological Survey of Canada, Canadian Geoscience Map 270 (preliminary); Canada-Nunavut Geoscience Office, Open File Map 2016-09, scale 1:100 000. doi:10.4095/297354

**Source URL:**
https://doi.org/10.4095/297354

**Estimated scale:**
large

**Folder name:**
nu_

[2019-06-20 16:08] cvavrus commented on #421
Suggested inserts:
[code]
[code]
[code]

[2019-06-20 16:14] cvavrus opened #422 "S Chidliak Bay, NU"
**Name:**
Steenkamp, H.M., Gilbert, C., and St-Onge, M.R., 2016. Geology, Chidliak Bay (south), Baffin Island, Nunavut, NTS 26-B (south); Geological Survey of Canada, Canadian Geoscience Map 272 (preliminary); Canada-Nunavut Geoscience Office, Open File Map 2016-08, scale 1:100 000. doi:10.4095/297357

**Source URL:**
https://doi.org/10.4095/297357

**Estimated scale:**
large

**Folder name:**
nu_

[2019-06-20 16:21] cvavrus commented on #422
Suggested inserts:
[code]
[code]

[2019-06-20 16:23] ericjohannes opened #423 "Locations of Operation for Active Industrial Minerals Producers in 2016 in Indiana"
**Name:**

INDUSTRIAL_MINERALS_ACTIVE_2016_IN.SHP: Locations of Operation for Active Industrial Minerals Producers in 2016 in Indiana (Indiana Geological Survey, Point Shapefile)

**Source URL:**

http://maps.indiana.edu/download/Geology/Industrial_Minerals_Sites_2016.zip

**Estimated scale:**

medium

**Folder name:**

**Dataset names:**

data: INDUSTRIAL_MINERALS_ACTIVE_2016_IN.SHP
metadata: IND

[2019-06-20 17:49] aazaff commented on #420
If there is a point or line data file associated with your polygons, please include them in the issue. Even if we don't upload them to macrostrat, it is good for them to be documented together in the issue.

[2019-06-20 17:54] ericjohannes commented on #420
Can do. I'll edit this issue to add the point data file.

[2019-06-20 18:00] aazaff commented on #413
Let's combine this with #414 and #412  as a single issue/data product. Close the other ones after aggregating.

[2019-06-20 19:44] aazaff commented on #418
Let's not do this one.

[2019-06-20 19:44] #418 closed, assigned to nobody

[2019-06-20 19:45] aazaff commented on #419
@ericjohannes Merge this back with #420 then close

[2019-06-20 19:45] aazaff commented on #416
Let's not do this one.

[2019-06-20 19:45] #416 closed, assigned to nobody

[2019-06-20 19:46] aazaff commented on #407
This looks like it would be a fun one for us to do for Flyover, but there are plenty of other EQ data streams that flyover could tap into. So let's not do this one.

[2019-06-20 19:46] #407 closed, assigned to nobody

[2019-06-20 19:49] aazaff commented on #408
@ericjohannes Roll this into #413 and close this issue please.

[2019-06-20 19:50] aazaff commented on #403
@ericjohannes This is very useful data, but please append it to #360 and close this issue.

[2019-06-20 19:50] aazaff commented on #397
@ericjohannes Add this file to #360 and close this issue.

[2019-06-20 19:53] aazaff commented on #423
@ericjohannes Let's roll this into #413, let's basically make one big economic geo map. Close this issue after please.

[2019-06-20 19:54] aazaff commented on #410
This may be useful as a passive layer in Macrostrat for filling out the Physiography field in the map viewer @cambro

[2019-06-20 19:56] aazaff commented on #405
This one looks good to me, can you take a look @cvavrus

[2019-06-20 19:57] aazaff commented on #404
@ericjohannes Let's roll this in with #360 and close this issue.

[2019-06-20 20:05] #423 closed, assigned to nobody

[2019-06-20 20:06] #419 closed, assigned to nobody

[2019-06-20 20:09] #412 closed, assigned to nobody

[2019-06-20 20:11] #414 closed, assigned to nobody

[2019-06-20 20:13] #408 closed, assigned to nobody

[2019-06-20 20:22] aazaff commented on #411
Let's not do this one.

[2019-06-20 20:22] #411 closed, assigned to nobody

[2019-06-20 20:22] aazaff commented on #409
Let's not do this one.

[2019-06-20 20:22] #409 closed, assigned to nobody

[2019-06-21 14:29] ericjohannes commented on #360
We were investigating the questions posted here, and we ran into some internal data consistency errors with this map. There's too many to warrant going forward with this one for now.
@aazaff Because of that, should I roll those other three into one of those, like https://github.com/UW-Macrostrat/burwell-processing/issues/403 and  https://github.com/UW-Macrostrat/burwell-processing/issues/404 into

[2019-06-21 16:16] aazaff commented on #360
No keep, those with this one, they thematically belong together. We can revisit this map at a later date. We'll keep the issue open for now, but on hold.

[2019-06-21 16:21] aazaff commented on #400
Let's not do this one.

[2019-06-24 14:53] #403 closed, assigned to nobody

[2019-06-24 14:55] #404 closed, assigned to nobody

[2019-06-24 14:57] #397 closed, assigned to nobody

[2019-06-24 14:57] ericjohannes commented on #360
The other three are now added to this and closed

[2019-06-24 14:58] cvavrus commented on #405
most of the geologic age column of the map units say 'Wisconsin', is this meant to be 'Wisconsinan'?

[2019-06-24 15:20] ericjohannes opened #424 "Bedrock geologic map of Monroe County (Indiana)"
**Name:**

Hasenmueller, W. A., Estell, C. M., Keith, B., and Thompson, T. A., 2009, Bedrock geologic map of Monroe County, Indiana: Indiana Geological Survey Miscellaneous Map 73, scale 1:48,000

**Source URL:**

https://iu.box.com/s/qy1ks2jlmxwsfo3kjjylqgknz4rwlj9o

Updated data:
https://iu.box.com/s/053oa67y57xlr7txh34wwxzzsi060xap

**Estimated scale:**

large

**Folder name:**

**Dataset names

[2019-06-24 15:58] aazaff commented on #405
I believe that is correct. @ericjohannes can you confirm?

[2019-06-24 16:24] cvavrus opened #425 "S McKeand River, NU"
**Name:**
St-Onge, M.R., Weller, O.M., Dyck, B.J., Rayner, N.M., Chadwick T., and Liikane, D., 2016. Geology, McKeand River (south), Baffin Island, Nunavut; Geological Survey of Canada, Canadian Geoscience Map 260E (preliminary); Canada-Nunavut Geoscience Office, Open File Map 2016-17E, scale 1:100 000. doi:10.4095/297595

**Source URL:**
https://doi.org/10.4095/298763

**Estimated scale:**
large

[2019-06-24 16:28] aazaff commented on #424
@ericjohannes, This looks pretty good.

1. Is there any line or point work that goes with this map?
2. The age given for some of these is Valmeyeran. That is not a recognized geologic age name. I googled it and it seems to be equivalent to the Visean, but can you please ask one of your geologists to confirm?

[2019-06-24 16:30] aazaff commented on #420
@ericjohannes, @garymotz Do you have any pictures for the points? This one might be better suited for the storymap pipeline than for Macrostrat.

[2019-06-24 16:33] aazaff commented on #424
@garymotz, @ericjohannes

Btw, here is a list of all [recognized stratigraphic intervals](https://macrostrat.org/api/v2/defs/intervals?all&format=csv).

Although Macrostrat can theoretically do the work of converting informal intervals to a recognized interval, it would be best if Indiana did this step.

[2019-06-24 16:34] aazaff commented on #424
Btw, I was wrong... Valmeyeran is recognized... so no problem.

[2019-06-24 17:15] cvavrus commented on #425
Suggested inserts:
[code]
[code]
[code]

[2019-06-24 17:35] ericjohannes commented on #405
@cvavrus @aazaff Yes they are the same. I just checked with a geologist.

[2019-06-24 17:46] ericjohannes commented on #424
Glad the age name wasn't a problem in the end. We're looking into lines and points

[2019-06-24 18:08] cvavrus commented on #405
Great thanks!

**Folder name**:
in_allen

Suggested inserts:
[code]

[2019-06-24 18:54] ericjohannes commented on #424
We added lines for faults and an anticline. I added a link to the updated data and information about it in the issue

[2019-06-24 18:58] aazaff commented on #424
Please take a look @cvavrus

[2019-06-24 19:01] aazaff commented on #402
@ericjohannes Is there any way we can get a bottom age for features labeled "Pre-Wisconsonian"?

[2019-06-25 14:12] cvavrus commented on #424
@ericjohannes the unitdescri column appears to be cut short for some of the units, do you have another document that includes the full description?

[2019-06-25 14:21] cvavrus commented on #424
@ericjohannes is this the correct map?
https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=MM73

[2019-06-25 14:40] ericjohannes opened #426 "Quaternary geology of the Nappanee West 7.5-minute quadrangle, Indiana"
**Name:**

Fleming, A. H., and Karaffa, M., 2012, Quaternary geology of the Nappanee West 7.5-minute quadrangle, Indiana: Indiana Geological Survey Miscellaneous Map 89, scale 1:24,000

**Source URL:**

https://iu.box.com/s/8o5hxhq4uh98l923ab1nzmag751vl6ia

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

NappaneeWest_SurficialGeology.gdb/NappaneeWest_SurficialGeology

**Number o

[2019-06-25 14:58] ericjohannes commented on #424
@cambro that is the correct map
Here is a document with the full unit descriptions https://iu.box.com/s/ru993wm8o4fn90hbzt427i9k7k7hqvss

[2019-06-25 15:12] cvavrus commented on #424
Assuming that was the right map:

**Folder name:**
in_monroe

Suggested inserts:
[code]
[code]

[2019-06-25 15:32] aazaff commented on #424
@ericjohannes, just as an FYI for future reference: ESRI Shapefile format has hard-coded size limits - 10 characters for field names, 245 characters for cell values, and 2 GB for file size. The 245 character limit is the biggest problem from Macrostrat's perspective, so make sure that any maps you submit as Shapefiles are not losing text. You can always submit as a different (better) file format i

[2019-06-25 15:46] aazaff commented on #426
@cvavrus this one looks good, but I'm not sure what should they change Late Glacial to? It doesn't seem to be a recognized Macrostrat Int.

[2019-06-25 15:51] aazaff commented on #413
@garymotz, if you have pictures to go with these points, I can have my assistant turn this into a Flyover compatible story map off the books.

[2019-06-25 15:51] cvavrus commented on #424
@aazaff oops! My mistake, thank you for letting me know.

[2019-06-25 15:52] aazaff commented on #424
@cvavrus No problem... we are just figuring all of this out as we go.

[2019-06-25 16:32] ericjohannes commented on #424
@aazaff thanks, we'll try to use gdbs if that's better, and thanks @cvavrus for looking into the unit descriptions

[2019-06-25 16:37] cvavrus commented on #426
@aazaff my guess would be that it could be changed to Holocene, but I'm not 100% sure on that

[2019-06-25 16:50] ericjohannes commented on #426
I'll ask one of our geologists about it

[2019-06-25 16:57] ericjohannes commented on #426
@aazaff @cvavrus the answer I got back was "Late Pleistocene." I can update the map and give a new download link for it

[2019-06-25 17:23] ericjohannes commented on #426
Here's the updated gdb https://iu.box.com/s/8o5hxhq4uh98l923ab1nzmag751vl6ia

[2019-06-25 17:32] aazaff commented on #426
Yes, Late Pleistocene makes more sense than Holocene. I edited the link to the updated gdb to the primary issue.

I think this one is ready for @cvavrus to pre-process and add to the queue.

[2019-06-25 17:49] ericjohannes commented on #400
@aazaff would you mind taking another look at Glacial_Terrains_Surficial_Geology_MarionCo? It's pretty similar to the other surficial maps we've been submitting. The other layers here were not. I also forgot to include an abstract for Glacial_Terrains_Surficial_Geology_MarionCo, so maybe it got lost in the mix. Finally, IU cleaned up the age names based on feedback on other maps and converted it t

[2019-06-25 18:36] rleverett opened #427 "S Sylvia Grinnell Lake NU"
**Name:**
Geology, Sylvia Grinnell Lake (south), Baffin Island, Nunavut; St-Onge, M R; Weller, O M; Dyck, B J; Rayner, N M; Chadwick, T; Liikane, D. Geological Survey of Canada, Canadian Geoscience Map 254S, (ed. prelim.), 2016, 1 sheet, https://doi.org/10.4095/298757

**Source URL:**
Ihttps://doi.org/10.4095/298757

**Estimated scale:**
large

**Folder name:**
nu_sylvia_s

**Dataset names:**
nu_s

[2019-06-25 18:54] rleverett commented on #427
Suggested inserts:
[code]
[code]
[code]

[2019-06-26 03:57] cambro commented on #421
this has a lot of overlap with source_id 240 https://dev.macrostrat.org/burwell#10/65.125/-67

[2019-06-26 04:10] cambro commented on #422
source_id = 264
https://dev.macrostrat.org/burwell#10/64.25/-67

[2019-06-26 04:10] #422 closed, assigned to cambro

[2019-06-26 04:30] cambro commented on #406
source_id 265
https://dev.macrostrat.org/burwell/#10/65.6597/-117.0985

[2019-06-26 04:30] #406 closed, assigned to cambro

[2019-06-26 05:24] cambro commented on #427
source_id 266
https://dev.macrostrat.org/burwell#10/64.25/-69

[2019-06-26 05:24] #427 closed, assigned to cambro

[2019-06-26 13:21] cvavrus commented on #426
@ericjohannes the unitdescri column seems to be cut short for this map as well

[2019-06-26 13:48] ericjohannes commented on #426
@cvavrus when I download this gdb https://iu.box.com/s/8o5hxhq4uh98l923ab1nzmag751vl6ia and open it up, the UnitDescription column looks OK to me. The strings are 400-1000 characters long and look to all end in periods like all the text is there.

[2019-06-26 13:55] cvavrus commented on #426
@ericjohannes that may have been my mistake, I haven't worked with many gdb files yet. When I download the folder I get a number of files that begin with a0000000 and some number, do you know which is the correct one?

[2019-06-26 14:00] cvavrus commented on #426
@ericjohannes nevermind, I think I figured it out

[2019-06-26 14:01] ericjohannes commented on #426
@cvavrus sounds good

[2019-06-26 14:39] cvavrus commented on #426
**Folder name:**
in_napp

Suggested insert:
[code]

[2019-06-26 15:39] ericjohannes commented on #402
@aazaff just got an answer from a geologist.  I'm told "Pliocene" or the "Tertiary" would work.

[2019-06-26 16:05] aazaff commented on #402
Cool, okay so the next step, and this is how all maps you submit from this point forward should be handled, with the `age` column split into a `top_age` column and a `bottom_age` column.

Examples:

Original | b_age | t_age
| ---- | ---- | ---- |
Pliocene | Pliocene | Pliocene
Eocene-Oligocene | Eocene | Oligocene

Please make sure that all maps you submit from now on have done this step.

[2019-06-26 16:21] rleverett opened #428 "N Ammittok Lake, NU"
**Name:**
Geology, Amittok Lake (north), Baffin Island, Nunavut; St-Onge, M R; Weller, O M; Dyck, B J; Rayner, N M; Chadwick, T; Liikane, D. Geological Survey of Canada, Canadian Geoscience Map 255S, (ed. prelim.), 2016, 1 sheet

**Source URL:**
https://doi.org/10.4095/298758

**Estimated scale:**
large

**Folder name:**
nu_ammittok_n

**Dataset names:**
nu_ammittok_n
nu_ammittok_n_lines
nu_ammitt

[2019-06-26 16:35] ericjohannes commented on #402
@aazaff can you explain the Pliocene example? Do you mean in cases where our data doesn't contain a top and bottom age we should use the same age value for `top_age` and `bottom_age`?

[2019-06-26 16:35] aazaff commented on #402
Exactly, if there is only one age, then that is both the top and the bottom.

[2019-06-26 16:38] rleverett commented on #428
Suggested Inserts:
[code]
[code]
[code]

[2019-06-26 18:29] rleverett opened #429 "S Ammittok Lake, NU"
**Name:**
Geology, Amittok Lake (south), Baffin Island, Nunavut; St-Onge, M R; Weller, O M; Dyck, B J; Rayner, N M; Chadwick, T; Liikane, D. Geological Survey of Canada, Canadian Geoscience Map 256S, (ed. prelim.), 2016, 1 sheet

**Source URL:**
https://doi.org/10.4095/298759

**Estimated scale:**
large

**Folder name:**
nu_ammittok_s

**Dataset names:**
nu_ammittok_s
nu_ammittok_s_lines
nu_ammitt

[2019-06-26 18:30] rleverett commented on #429
Suggested Inserts:
[code]
[code]
[code]

[2019-06-26 19:44] rleverett opened #430 "N Clearwater Fjord, NU"
**Name:**
Geology, Clearwater Fiord (north), Baffin Island, Nunavut; St-Onge, M R; Weller, O M; Dyck, B J; Rayner, N M; Chadwick, T; Liikane, D. Geological Survey of Canada, Canadian Geoscience Map 257S, (ed. prelim.), 2016, 1 sheet

**Source URL:**
https://doi.org/10.4095/298760

**Estimated scale:**
large

**Folder name:**
nu_clearwater_n

**Dataset names:**
nu_clearwater_n
nu_clearwater_n_lines

[2019-06-26 19:45] rleverett commented on #430
Suggested Inserts:
[code]
[code]
[code]

[2019-06-27 14:26] ericjohannes commented on #402
@aazaff great, thanks for clarifying. Do you need us to add the top and bottom age for this map now or have you done that?

[2019-06-27 16:10] rleverett opened #431 "S Clearwater Fjord, NU"
**Name:**
Geology, Clearwater Fiord (south), Baffin Island, Nunavut; St-Onge, M R; Weller, O M; Dyck, B J; Rayner, N M; Chadwick, T; Liikane, D. Geological Survey of Canada, Canadian Geoscience Map 258S, (ed. prelim.), 2016, 1 sheet

**Source URL:**
https://doi.org/10.4095/298761

**Estimated scale:**
large

**Folder name:**
nu_clearwater_s

**Dataset names:**
nu_clearwater_s
nu_clearwater_s_lines

[2019-06-27 16:12] rleverett commented on #431
Suggested Inserts:
[code]
[code]
[code]

[2019-06-27 16:39] aazaff commented on #402
I think doing it for this one would be appropriate. I also wonder if some of the items that I had you merge into #360 might be appropriate to match with this layer instead? It makes sense to keep the surficial/quaternary items together in one map and the bedrock items together in another map?

[2019-06-27 16:40] aazaff commented on #424
@cvavrus Can this one be assigned to @cambro now?

[2019-06-27 16:42] cvavrus commented on #424
yes, it should be good to go

[2019-06-27 17:46] aazaff commented on #400
Compile the shapefiles into a geodatabase for when the raw data is distributed, but we will only prepare the layer `GLACIAL_TERRAINS_SURFICIAL_GEOLOGY_MARIONCO` for Macrostrat ignestion

[2019-06-27 18:21] rleverett opened #432 "N Sylvia Lake, NU"
**Name:**
Geology, Sylvia Grinnell Lake (north), Baffin Island, Nunavut; St-Onge, M R; Weller, O M; Dyck, B J; Rayner, N M; Chadwick, T; Liikane, D. Geological Survey of Canada, Canadian Geoscience Map 253S, (ed. prelim.), 2016, 1 sheet

**Source URL:**
https://doi.org/10.4095/297963

**Estimated scale:**
large

**Folder name:**
nu_sylvia_n

**Dataset names:**
nu_sylvia_n

**Number of bedrock poly

[2019-06-27 18:22] rleverett commented on #432
Suggested Inserts:
[code]
[code]
[code]

[2019-06-27 18:53] ericjohannes commented on #400
@aazaff should be good now

[2019-06-27 19:12] cvavrus opened #433 "N McKeand River, NU"
**Name:**
St-Onge, M.R., Weller, O.M., Dyck, B.J., Rayner, N.M., Chadwick T., and Liikane, D., 2016. Geology, McKeand River (north), Baffin Island, Nunavut; Geological Survey of Canada, Canadian Geoscience Map 259E (preliminary); Canada-Nunavut Geoscience Office, Open File Map 2016-16E, scale 1:100 000. doi:10.4095/297594

**Source URL:**
https://doi.org/10.4095/298762

**Estimated scale:**
large

[2019-06-27 19:17] cvavrus commented on #433
Suggested inserts:
[code]
[code]
[code]

[2019-06-27 19:38] ericjohannes commented on #402
added `b_age` and `t_age` to SURFICIAL_GEOL_MM49_IN's feature class in its gdb. There's a new download link for that.
I rolled the "Unconsolidated Thickness" map in here from https://github.com/UW-Macrostrat/burwell-processing/issues/360 as well

[2019-06-27 19:39] ericjohannes commented on #360
Moved Unconsolidated Thickness layer to https://github.com/UW-Macrostrat/burwell-processing/issues/402 because it was more related to surficial geology.

[2019-06-27 19:40] rleverett opened #434 "S Leybourne Islands, NU"
**Name:**
Geology, Leybourne Islands (south), Baffin Island, Nunavut, NTS 26-A (south); Steenkamp, H M; Gilbert, C; St-Onge, M R. Geological Survey of Canada, Canadian Geoscience Map 269, (ed. prelim.), 2016, 1 sheet

**Source URL:**
https://doi.org/10.4095/297353

**Estimated scale:**
large

**Folder name:**
nu_leybourne_s

**Dataset names:**
nu_leybourne_s
nu_leybourne_s_lines

**Number of bedro

[2019-06-27 19:40] rleverett commented on #434
Suggested Inserts:
[code]
[code]

[2019-06-27 19:42] rleverett commented on #434
Had a problem with importing points files.
Some parts are unmapped.

[2019-06-27 19:53] cvavrus opened #435 "N Leybourne Islands, NU"
**Name:**
Steenkamp, H.M., Gilbert, C., and St-Onge, M.R., 2016. Geology, Leybourne Islands (north), Baffin Island, Nunavut, NTS 26-A (north); Geological Survey of Canada, Canadian Geoscience Map 271 (preliminary); Canada-Nunavut Geoscience Office, Open File Map 2016-07, scale 1:100 000. doi:10.4095/297355

**Source URL:**
https://doi.org/10.4095/297355

**Estimated scale:**
large

**Folder name:*

[2019-06-27 19:55] cvavrus commented on #435
Suggested inserts:
[code]
[code]

[2019-06-27 20:03] cvavrus commented on #435
Error prevented importing the points .shp file

[2019-06-28 13:48] cvavrus commented on #402
**Folder name:**
in_quat

Suggested insert:
[code]

[2019-06-28 13:50] ericjohannes opened #436 "Preliminary map showing bedrock geology of the Mooresville East 7.5-minute quadrangle, Indiana"
**Name:**

Hasenmueller, W. A., Rupp, R. F., and McLaughlin, P. L., 2016, Preliminary map showing bedrock geology of the Mooresville East 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 16-01, scale 1:24,000

**Source URL:**

https://iu.box.com/s/v0xhv54t92niinegvkb5stcw11ym3ym0

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

**Number of bedrock polygo

[2019-06-28 14:05] ericjohannes opened #437 "Surficial geology of Lagrange County (Indiana) – digital compilation"
**Name:**

Karaffa, M., and Sowder, K., 2010, Surficial geology of Lagrange County – digital compilation: Indiana Geological Survey Miscellaneous Map 79 , scale 1:48,000

**Source URL:**

https://iu.box.com/s/d76a4tna1w8239fxsk6h4npzffgohz1n

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

SurficialGeology_LagrangeCo_ages.shp

**Number of bedrock polygons:**
283

**Lithology fie

[2019-06-28 15:15] cvavrus opened #438 "Western Australia"
**Name:**
Geological Survey of Western Australia, 2016, 1:500 000 State interpreted bedrock geology of Western Australia, 2016: Geological
Survey of Western Australia, digital data layer, www.dmp.wa.gov.au/geoview.
Compilers of geology: DMcB Martin, SP Johnson, and A Riganti
Compiler GIS: J Hogen-Esch
Editor: SR White

**Source URL:**
http://dmpbookshop.eruditetechnologies.com.au/product/1500-000-

[2019-06-28 16:09] rleverett opened #439 "N Ward Inlet, NU"
**Name:**
Geology, Ward Inlet (north), Baffin Island, Nunavut, NTS 25-O (north); Steenkamp, H M; Gilbert, C; St-Onge, M R. Geological Survey of Canada, Canadian Geoscience Map 265, (ed. prelim.), 2016, 1 sheet

**Source URL:**
https://doi.org/10.4095/297348

**Estimated scale:**
large

**Folder name:**
nu_ward_n

**Dataset names:**
nu_ward_n
nu_ward_n_lines
nu_ward_n_points

**Number of bedrock po

[2019-06-28 16:10] rleverett commented on #439
Suggested Inserts:
[code]
[code]
[code]

[2019-06-28 16:32] cvavrus commented on #438
Suggested inserts:
[code]
[code]
Also, this map had the cenozoic units on a separate .shp file, should I process that map as well @cambro ?

[2019-06-28 17:08] rleverett opened #440 "S Ward Inlet, NU"
**Name:**
Geology, Ward Inlet (south), Baffin Island, Nunavut, NTS 25-O (south) and 25-J (part); Steenkamp, H M; Gilbert, C; St-Onge, M R. Geological Survey of Canada, Canadian Geoscience Map 266, (ed. prelim.), 2016, 1 sheet

**Source URL:**
https://doi.org/10.4095/297349

**Estimated scale:**
large

**Folder name:**
nu_ward_s

**Dataset names:**
nu_ward_s
nu_ward_lines

**Number of bedrock polyg

[2019-06-28 17:09] rleverett commented on #440
Suggested Inserts:
[code]
[code]

[2019-06-28 17:09] rleverett commented on #440
Had an error importing the points.
Some parts unmapped

[2019-06-28 17:40] ericjohannes opened #441 "Preliminary map showing Quaternary geology of the North Webster 7.5-minute quadrangle"
**Name:**

Karaffa, M. D., Fleming, A. H., and Loope, H. M., 2014, Preliminary map showing Quaternary geology of the North Webster 7.5-minute quadrangle, Indiana: Indiana Geological Survey 14-05, scale 1:24,000

**Source URL:**

https://iu.box.com/s/79zon4fso5do543ux9fra4k08gaqkig4

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

SurficialGeology_NorthWebsterQ

**Number of bedro

[2019-06-28 18:46] rleverett opened #442 "Grinnell Glacier, NU"
**Name:**
Geology, Grinnell Glacier, Baffin Island, Nunavut; St-Onge, M R; Rayner, N M; Steenkamp, H M; Gilbert, C. Geological Survey of Canada, Canadian Geoscience Map 217E, (ed. prelim.), 2015, 1 sheet

**Source URL:**
https://doi.org/10.4095/296111

**Estimated scale:**
large

**Folder name:**
nu_grinnell

**Dataset names:**
nu_grinnell
nu_grinnell_lines
nu_grinnell_points

**Number of bedrock

[2019-06-28 18:52] rleverett commented on #442
Suggested Inserts:
[code]
[code]
[code]

[2019-07-01 13:26] cvavrus opened #443 "Goulburn, New South Wales"
**Name:**
O.D. Thomas, D.J. Pogson, A.J. Johnston, M.M. Scott, A.Y.E. Warren, L. Sherwin, G.P. Colquhoun, J.J. Watkins, R.G. Cameron, G.P. MacRae, R.A. Glen & J.J. Vassallo. 2013. Goulburn 1:250 000 Geological Sheet SI/55-12, 2nd edition. (2 sheets). Geological Survey of New South Wales, Maitland

**Source URL:**
https://search.geoscience.nsw.gov.au/product/172

**Estimated scale:**
large

**Folde

[2019-07-01 13:35] cvavrus commented on #443
Suggested inserts:
[code]
[code]
[code]

[2019-07-01 14:17] ericjohannes opened #444 "Preliminary Map Showing Bedrock Geology of the Martinsville 7.5-Minute Quadrangle, Indiana"
**Name:**

Rupp, R. F., McLaughlin, P. L., Bancroft, A.M., Hasenmueller, W. A., and Johnson, M.R., 2017, Preliminary Map Showing Bedrock Geology of the Martinsville 7.5-Minute Quadrangle, Indiana: Indiana Geological Survey Open-File Study 17-02, scale 1:24,000

**Source URL:**

https://iu.box.com/s/sa3ztbbw7ll6hwirisi05upk96o6e9ao

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

[2019-07-01 14:17] ericjohannes opened #445 "Preliminary Map Showing Bedrock Geology of the Paragon 7.5-Minute Quadrangle, Indiana"
**Name:**

Rupp, R. F., McLaughlin, P. L., Bancroft, A.M., Hasenmueller, W. A., and Johnson, M.R., 2017, Preliminary Map Showing Bedrock Geology of the Paragon 7.5-Minute Quadrangle, Indiana: Indiana Geological Survey Open-File Study 17-04, scale 1:24,000

**Source URL:**

https://iu.box.com/s/4ryuyoguuu012m1ij656t29ublwvmhih

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

Bedr

[2019-07-01 14:18] ericjohannes opened #446 "Preliminary Map Showing Bedrock Geology of the Mooresville West 7.5-Minute Quadrangle, Indiana"
**Name:**

Rupp, R. F., McLaughlin, P. L., Bancroft, A.M., Hasenmueller, W. A., and Johnson, M.R., 2017, Preliminary Map Showing Bedrock Geology of the Mooresville West 7.5-Minute Quadrangle, Indiana: Indiana Geological Survey Open-File Study 17-03, scale 1:24,000

**Source URL:**

https://iu.box.com/s/sybsqbdzoipp95ief2jxzq1kf4dum9e6

**Estimated scale:**

large

**Folder name:**

**Dataset names

[2019-07-01 14:18] ericjohannes opened #447 "Preliminary Map Showing Bedrock Geology of the Hall 7.5-Minute Quadrangle, Indiana"
**Name:**

Rupp, R. F., McLaughlin, P. L., Bancroft, A.M., Hasenmueller, W. A., and Johnson, M.R., 2017, Preliminary Map Showing Bedrock Geology of the Hall 7.5-Minute Quadrangle, Indiana: Indiana Geological Survey Open-File Study 17-01, scale 1:24,000

**Source URL:**

https://iu.box.com/s/jm82jngbhsoj920h3dpuiess5wa124gj

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

Bedrock

[2019-07-01 14:48] cvavrus opened #448 "Coolabah, New South Wales"
**Name:**
Gilmore P.J., Trigg S.J., Campbell L.M., Hegarty R.A. & Quinn C.D. 2018. Coolabah 1:100 000 Geological Sheet 8235. Geological Survey of New South Wales, Maitland.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/9230

**Estimated scale:**
large

**Folder name:**
nsw_cool

**Dataset names:**
nsw_cool
nsw_cool_lines
nsw_cool_points

**Number of bedrock polygons:**
951

**Litho

[2019-07-01 14:51] cvavrus commented on #448
Suggested inserts:
[code]

[2019-07-01 14:57] ericjohannes opened #449 "Quaternary geology map of Lake, Porter, and LaPorte Counties, northern Indiana"
**Name:**

QUATERNARY_GEOLOGY_SOUTHERN_LAKE_MICHIGAN_RIM: Quaternary geology map of Lake, Porter, and LaPorte Counties, northern Indiana (Indiana Geological Survey, 1:48,000, Esri geodatabase)

**Source URL:**

https://iu.box.com/s/l56gr0vfwviuvt0fe39jpm58jqc31klz

**Estimated scale:**

large

**Folder name:**

**Dataset names:**

LakeRim.gdb/Quaternary_geology_Southern_Lake_Michigan_twoAges

**Nu

[2019-07-01 15:56] ericjohannes opened #450 "Preliminary map showing Quaternary geology of the Mooresville West 7.5-minute quadrangle, Indiana"
**Name:**

Loope, H. M., 2016, Preliminary map showing Quaternary geology of the Mooresville West 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 16-03, scale 1:24,000

**Source URL:**

Gis data: https://iu.box.com/s/atig39egpzijtp2j3w473j73s2cuqcu8
publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS16-03

**Estimated scale:**

large

**Folder name:**

[2019-07-01 16:15] ericjohannes opened #451 "Preliminary map showing Quaternary geology of the Martinsville 7.5-minute quadrangle, Indiana"
**Name:**

Loope, H. M., 2016, Preliminary map showing Quaternary geology of the Martinsville 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 16-02, scale 1:24,000

**Source URL:**

publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS16-02
data: https://iu.box.com/s/eyip84n3fibctf154njr3ggqdlrtnok9

**Estimated scale:**

large

**Folder name:**

**Datas

[2019-07-01 16:37] rleverett opened #452 "N Albert Hills, NU"
**Name:**
Geology, northern part of Prince Albert Greenstone Belt, Prince Albert Hills, Melville Peninsula, Nunavut; Machado, G; Corrigan, D; Nadeau, L; Rigg, J. Geological Survey of Canada, Canadian Geoscience Map 81, (ed. prelim.), 2012, 1 sheet; 1 CD-ROM

**Source URL:**
https://doi.org/10.4095/290088

**Estimated scale:**
large

**Folder name:**
nu_prince_albert_n

**Dataset names:**
nu_prince

[2019-07-01 16:38] rleverett commented on #452
Lines have some missing parts
Suggested Inserts:
[code]
[code]
[code]

[2019-07-01 18:38] ericjohannes opened #453 "Preliminary map showing Quaternary geology of the Warsaw 7.5-minute quadrangle, Indiana"
**Name:**

Karaffa, M. D., 2015, Preliminary map showing Quaternary geology of the Warsaw 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-04, scale 1:24,000

**Source URL:**

publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-04
data: https://iu.box.com/s/k5amsjig69sqzd4nboi1807v05pyv85z

**Estimated scale:**

large

**Folder name:**

**Dataset n

[2019-07-02 13:03] ericjohannes opened #454 "Preliminary map showing Quaternary geology of the Burket 7.5-minute quadrangle, Indiana"
**Name:**

Karaffa, M. D., 2015, Preliminary map showing Quaternary geology of the Burket 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-03, scale 1:24,000

**Source URL:**

publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-03
data: https://iu.box.com/s/1em3u3ro9yr86f5g2evy2ja1czqyxalr

**Estimated scale:**

large

**Folder name:**

**Dataset n

[2019-07-02 14:46] ericjohannes opened #455 "Preliminary Quaternary geologic map of the Columbus 7.5-minute quadrangle, Indiana"
**Name:**

Loope, H. M., Rupp, R. F., and Hasenmueller, W. A., 2014, Preliminary Quaternary geologic map of the Columbus 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 14-03, scale 1:24,000

**Source URL:**

data: https://iu.box.com/s/gtx0dj03lldbs4459lkx3mq3yp33gb31
publicationp: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS14-03

**Estimated scale:**

larg

[2019-07-02 16:21] ericjohannes opened #456 "Preliminary Quaternary geologic map of the New Bellsville 7.5-minute quadrangle, Indiana"
**Name:**

Loope, H. M., Rupp, R. F., and Hasenmueller, W. A., 2014, Preliminary Quaternary geologic map of the New Bellsville 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 14-02, scale 1:24,000

**Source URL:**

data: https://iu.box.com/s/t91i6hjs9ckug3k4pl93q4fwnkpzqs4x
publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS14-02

**Estimated scale:**

[2019-07-02 16:28] rleverett opened #457 "S Ellef Ringnes Island, NU"
**Name:**
Geology, Ellef Ringnes Island south, Nunavut; Evenchick, C A; Embry, A F. Geological Survey of Canada, Canadian Geoscience Map 87, (ed. prelim.), 2012, 1 sheet

**Source URL:**
https://doi.org/10.4095/291566

**Estimated scale:**
large

**Folder name:**
nu_ellef_s

**Dataset names:**
nu_ellef_s
nu_ellef_s_lines
nu_ellef_s_points

**Number of bedrock polygons:**
925

**Lithology field:**

[2019-07-02 16:30] rleverett commented on #457
A lot of unmapped items in this map
Some of the labels in the polygons were unclear and were not connected to a specific time period on the PDF

Suggested inserts:
[code]
[code]
[code]

[2019-07-02 18:15] cvavrus opened #458 "Bunda, New South Wales"
**Name:**
Mills, K.J. and Hicks, M.G. 2016. Bunda 1:100,000 Geological Sheet 7434. Second Edition. Geological Survey of New South Wales, Maitland.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/16

**Estimated scale:**
large

**Folder name:**
nsw_bunda

**Dataset names:**
nsw_bunda
nsw_bunda_lines
nsw_bunda_points

**Number of bedrock polygons:**
713

**Lithology field:**

**Time fi

[2019-07-02 18:18] cvavrus commented on #458
Suggested inserts:
[code]

[2019-07-02 19:47] rleverett opened #459 "Byrock, New South Wales"
**Name:**
Burton G.R., Trigg S.J. & Campbell L.M.. Byrock 1:100 000 Geological Sheet 8136, First edition. Geological Survey of New South Wales, Maitland.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/56

**Estimated scale:**
large

**Folder name:**
nsw_byrock

**Dataset names:**
nsw_byrock
nsw_byrock_lines
nsw_byrokc_points

**Number of bedrock polygons:**
1159

**Lithology field:*

[2019-07-02 19:48] rleverett commented on #459
Suggested Inserts:
[code]
[code]
[code]

[2019-07-03 16:15] cvavrus opened #460 "Gosford-Lake Macquarie, New South Wales"
**Name:**
Och D.J., Jones D.C., Uren R.E. & Hughes K.S. (compilers) 2015. Gosford-Lake Macquarie Special 1:100 000 Geological Sheet 9131 & part sheet 9231. First Edition. Geological Survey of New South Wales, Maitland.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/9084

**Estimated scale:**
large

**Folder name:**
nsw_gosford

**Dataset names:**
nsw_gosford
nsw_gosford_lines
nsw_go

[2019-07-03 16:25] cvavrus commented on #460
Suggested inserts:
[code]
[code]
[code]

[2019-07-03 18:16] rleverett opened #461 "Grasmere, New South Wales"
**Name:**
Buckley P.M., Senior B.R & Senior D.A., 2015. Grasmere 1:100 000 Geological Sheet 7435, 2nd edition. Geological Survey of New South Wales, Maitland.
--

**Source URL:**
https://search.geoscience.nsw.gov.au/product/15

**Estimated scale:**
large

**Folder name:**
nsw_grasmere

**Dataset names:**
nsw_grasmere
nsw_grasmere_lines
nsw_grasmere_points

**Number of bedrock polygons:**
2185

**L

[2019-07-03 18:17] rleverett commented on #461
Suggested Inserts:
[code]
[code]
[code]

[2019-07-03 18:54] cvavrus opened #462 "Manilla, New South Wales"
**Name:**
Brown R.E., Henley H.F., Vickery N.M., Glen R.A. & Stroud W.J., 2013, Manilla 1:100 000 Geological Sheet 9036, First edition. Geological Survey of New South Wales, Maitland.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/108

**Estimated scale:**
large

**Folder name:**
nsw_manilla

**Dataset names:**
nsw_manilla
nsw_manilla_lines
nsw_manilla_points

**Number of bedrock po

[2019-07-03 18:58] cvavrus commented on #462
Suggested inserts:
[code]
[code]
[code]

[2019-07-03 19:22] rleverett opened #463 "Marsden, New South Wales"
**Name:**
Raymond O.L. and Wallace D.A., 2000, Marsden 1:100 000 Geological Sheet 8430, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra

**Source URL:**
https://search.geoscience.nsw.gov.au/product/109

**Estimated scale:**
large

**Folder name:**
nsw_marsden

**Dataset names:**
nsw_marsden

**Number of bedrock polygons:**
358

**Lithology field:**

**Tim

[2019-07-03 19:23] rleverett commented on #463
There were no point files on this map

Suggested Inserts:
[code]
[code]

[2019-07-05 16:21] rleverett opened #464 "Wonnaminta, New South Wales"
**Name:**
Mills K.G., Hicks M. G. & Cooper I.B. 2015. Wonnaminta 1:100 000 Geological Sheet 7336, 2nd Edition. Geological Survey of NSW

**Source URL:**
https://search.geoscience.nsw.gov.au/product/12

**Estimated scale:**
large

**Folder name:**
nsw_wonnaminta

**Dataset names:**
nsw_wonnaminta
nsw_wonnaminta_lines
nsw_wonnaminta_points

**Number of bedrock polygons:**
2239

**Lithology field:**

[2019-07-05 16:22] rleverett commented on #464
Suggested Inserts:
[code]
[code]
[code]

[2019-07-05 17:04] cvavrus opened #465 "Tibooburra, New South Wales"
**Name:**
Brown R.E. & Vickery N.M. 2015 Tibooburra 1:100 000 Geological Sheet 7339. First Edition. Geological Survey of News South Wales, Maitland

**Source URL:**
https://search.geoscience.nsw.gov.au/product/11

**Estimated scale:**
large

**Folder name:**
nsw_tiboo

**Dataset names:**
nsw_tiboo
nsw_tiboo_lines
nsw_tiboo_points

**Number of bedrock polygons:**
1884

**Lithology field:**

**Time

[2019-07-05 17:08] cvavrus commented on #465
Suggested inserts:
[code]
[code]
[code]

[2019-07-05 17:43] cvavrus opened #466 "Yantara, New South Wales"
**Name:**
Reid W.J. 2010. Yantara 1:100 000 Geological Sheet 7338, First edition. Geological Survey of New South Wales, Maitland.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/7

**Estimated scale:**
large

**Folder name:**
nsw_yantara

**Dataset names:**
nsw_yantara
nsw_yantara_lines
nsw_yantara_points

**Number of bedrock polygons:**
1301

**Lithology field:**

**Time field:**
ag

[2019-07-05 17:46] cvavrus commented on #466
Suggested inserts:
[code]
[code]
there were no points for this map

[2019-07-05 19:15] rleverett opened #467 "Woodburn, New South Wales"
**Name:**
Brownlow J.W., 2002, Woodburn 1:100 000 Geological Sheet 9539, 1st edition. Geological Survey of New South Wales, Armidale.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/149

**Estimated scale:**
large

**Folder name:**
nsw_woodburn

**Dataset names:**
nsw_woodburn
nsw_woodburn_lines
nsw_woodburn_points

**Number of bedrock polygons:**
779

**Lithology field:**

**Time fi

[2019-07-05 19:16] rleverett commented on #467
The strike/dip was not given in the points file, only the "angle'

Suggested Inserts:
[code]
[code]
[code]

[2019-07-05 19:24] ericjohannes opened #468 "Preliminary map showing Quaternary geology of the Hope 7.5-minute quadrangle, Indiana"
**Name:**

Loope, H. M., 2015, Preliminary map showing Quaternary geology of the Hope 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-06, scale 1:24,000

**Source URL:**

"data: https://iu.box.com/s/v8rost5qi6eaet93xofamxnq5bzmzjru
publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-06"

**Estimated scale:**

large

**Folder name:**

**Dataset nam

[2019-07-05 19:24] cvavrus opened #469 "Bathurst, New South Wales"
**Name:**
Watkins J.J., Pogson D.J., Hawley S.P. and Henderson G.A.M., 1997, Bathurst 1:100 000 First Edition (1:100,000 geological map 8831) Geological Survey of New South Wales, Sydney / Australian Geological Survey Organisation, Canberra.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/43

**Estimated scale:**
large

**Folder name:**
nsw_bathurst

**Dataset names:**
nsw_bathurst
n

[2019-07-05 19:26] cvavrus commented on #469
Suggested inserts:
[code]
[code]
[code]

[2019-07-05 20:11] ericjohannes opened #470 "Preliminary map showing Quaternary geology of the Elizabethtown 7.5-minute quadrangle, Indiana"
**Name:**

Loope, H. M., 2015, Preliminary map showing Quaternary geology of the Elizabethtown 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-05, scale 1:24,000

**Source URL:**

data: https://iu.box.com/s/5lbuixkuvd8gcxtk365l06j8ijmmwatg
publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-05

**Estimated scale:**

large

**Folder name:**

**Data

[2019-07-06 16:42] cambro commented on #460
source_id 267
https://dev.macrostrat.org/burwell#10/-33.25/151.375

[2019-07-06 16:42] #460 closed, assigned to cambro

[2019-07-06 16:56] cambro commented on #448
source_id 268
https://dev.macrostrat.org/burwell#10/-31.25/146.75

points still need added

[2019-07-06 17:17] cambro commented on #442
source_id 269
needed to modify the insert statements
https://dev.macrostrat.org/burwell#10/62.875/-67.460195

[2019-07-06 17:17] #442 closed, assigned to cambro

[2019-07-07 14:11] cambro commented on #443
source_id 270
https://dev.macrostrat.org/burwell#10/-34.50013/149.24997000000002
I needed to clean up '?' in descriptions and some ages. Some point types needed revision.

[2019-07-07 14:11] #443 closed, assigned to cambro

[2019-07-07 14:14] cambro commented on #438
will probably put this one on hold due to high quality of more recent 1:1M map

[2019-07-07 14:14] #438 closed, assigned to cambro

[2019-07-07 15:56] cambro commented on #457
This one had a few processing errors. Let's go over this together @rleverett

[2019-07-08 13:36] ericjohannes opened #471 "Preliminary map showing Quaternary geology of the Azalia 7.5-minute quadrangle, Indiana"
**Name:**

Loope, H. M., Rupp, R. F., and Hasenmueller, W. A., 2015, Preliminary map showing Quaternary geology of the Azalia 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-08, scale 1:24,000

**Source URL:**

"publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-08
data: https://iu.box.com/s/h38pv4ky95e1q8ty5ohrxfswota6g7bw"

**Estimated scale:**

[2019-07-08 13:38] ericjohannes opened #472 "Preliminary map showing Quaternary geology of the Edinburgh 7.5-minute quadrangle, Indiana"
**Name:**

Loope, H. M., Rupp, R. F., and Hasenmueller, W. A., 2015, Preliminary map showing Quaternary geology of the Edinburgh 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-02, scale 1:24,000.

**Source URL:**

data: https://iu.box.com/s/tkygy2v3vlcq6r9m0rp1m7x16lyn9b4d
publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-02

**Estimated scale:

[2019-07-08 15:27] rleverett opened #473 "Wyalong, New South Wales"
**Name:**
Duggan M. and Lyons P, 2000, Wyalong 1:100 000 Geological Sheet 8330, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra

**Source URL:**
https://search.geoscience.nsw.gov.au/product/151

**Estimated scale:**
large

**Folder name:**
nsw_wyalong

**Dataset names:**
nsw_wyalong
nsw_wyalong_lines

**Number of bedrock polygons:**
349

**Lithology field

[2019-07-08 15:33] rleverett commented on #473
No points files in the folder

Suggested Inserts:
[code]
[code]

[2019-07-08 16:10] cambro commented on #457
source_id 271
https://dev.macrostrat.org/burwell#10/78.523685/-102.280485

[2019-07-08 16:10] #457 closed, assigned to cambro

[2019-07-08 19:41] rleverett opened #474 "Boorowa, NSW"
**Name:**
Johnston A.J., Pogson D.J., Thomas O.D., Watkins J.J. and Glen R.A., 2013, Boorowa 1:100 000 Geological Sheet 8629, 1st edition. Geological Survey of New South Wales, Maitland.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/49

**Estimated scale:**
large

**Folder name:**
nsw_boorowa

**Dataset names:**
nsw_boorowa
nsw_boorowa_lines
nsw_boorowa_points

**Number of bedrock

[2019-07-08 19:41] rleverett commented on #474
Suggested Inserts:
[code]

[2019-07-08 20:34] ericjohannes opened #475 "Preliminary Quaternary geologic map of the Pierceton 7.5-minute quadrangle, Indiana"
**Name:**

Karaffa, M. , Prentice, M. L. 2013, Preliminary Quaternary geologic map of the Pierceton, South Whitley West, and portions of the North Webster 7.5-minute quadrangles, Indiana: Indiana Geological Survey Open-File Study 13-04

**Source URL:**

data: https://iu.box.com/s/glkasddebdzfde99frwhqb0iqj6r94mm
publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS13-04

**Estima

[2019-07-08 20:34] ericjohannes opened #476 "Preliminary Quaternary geologic map of the South Whitley West 7.5-minute quadrangle, Indiana"
**Name:**

Karaffa, M. , Prentice, M. L. 2013, Preliminary Quaternary geologic map of the Pierceton, South Whitley West, and portions of the North Webster 7.5-minute quadrangles, Indiana: Indiana Geological Survey Open-File Study 13-04

**Source URL:**

publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS13-04
Data: https://iu.box.com/s/nlb6cvmhsyjs94fk5826vxzikkk1md1c

**Estima

[2019-07-09 18:04] rleverett opened #477 "Cargelligo, New South Wales"
**Name:**
Colqhoun G.P., Cameron R.G and Meakin N.S., 2008, Cargelligo 1:100 000 Geological Sheet 8131, 1st edition. Geological Survey of New South Wales, Sydney

**Source URL:**
https://search.geoscience.nsw.gov.au/product/60

**Estimated scale:**
large

**Folder name:**
nsw_cargelligo

**Dataset names:**
nsw_cargelligo
nsw_cargelligo_lines
nsw_cargelligo_points

**Number of bedrock polygons:**
1

[2019-07-09 18:05] rleverett commented on #477
Suggested Inserts:
[code]
[code]
[code]

[2019-07-09 18:39] cambro commented on #474
source_id 272
This one needed a few minor modifications. Be sure to get the line name if there is one (e.g., San Andreas Fault) and make sure all map polygons have a unit name (even if you have to add your best description based on map image in pdf/jget).

I inserted this one, but it overlaps with another map, source_id 270. It's good to check for overlap and prioritize maps that do not overlap at

[2019-07-09 18:41] #474 closed, assigned to cambro

[2019-07-09 19:02] cambro commented on #469
source_id 273
points weren't relevant for import.
https://dev.macrostrat.org/burwell#10/-33.248435/149.75115499999998

[2019-07-09 19:02] #469 closed, assigned to cambro

[2019-07-09 19:18] cambro commented on #458
source_id 274
https://dev.macrostrat.org/burwell#10/-31.75/142.75

[2019-07-09 19:18] #458 closed, assigned to cambro

[2019-07-09 19:43] rleverett opened #478 "Cobham Lake, New South Wales"
**Name:**
Mills K.J., J.A Ogerman & T.R. Sharp 2010, Cobham Lake 1:100 000 Geological Sheet 7337, Second edition. Geological Survey of New South Wales, Maitland

**Source URL:**
https://search.geoscience.nsw.gov.au/product/9

**Estimated scale:**
large

**Folder name:**
nsw_cobham

**Dataset names:**
nsw_cobham
nsw_cobham_lines
nsw_cobham_points

**Number of bedrock polygons:**
1672

**Lithology f

[2019-07-09 19:44] rleverett commented on #478
Some labels are not on the JPG file on the website

Suggested Inserts:
[code]
[code]
[code]

[2019-07-10 16:17] rleverett opened #479 "Grenfell, New South Wales"
**Name:**
Raymond, C.L., Wallace D.A., Krynen J.P. and Young G.C, 2000, Grenfell 1:100 000 Geological Sheet 8530, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra

**Source URL:**
https://search.geoscience.nsw.gov.au/product/92

**Estimated scale:**
large

**Folder name:**
nsw_grenfell

**Dataset names:**
nsw_grenfell

**Number of bedrock polygons:**
588

[2019-07-10 16:18] rleverett commented on #479
No points files for this map.
Some parts unmapped.

Suggested inserts:
[code]
[code]

[2019-07-11 16:09] rleverett opened #480 "Gulgong, New South Wales"
**Name:**
Watkins J.J., Cameron R.G., Yoo E.K. and Colqhoun G.P., 2000, Gulgong 1:100 000 Geological Sheet 8833, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra

**Source URL:**
https://search.geoscience.nsw.gov.au/product/93

**Estimated scale:**
large

**Folder name:**
nsw_gulgong

**Dataset names:**
nsw_gulgong
nsw_gulgong_lines
nsw_gulgong_points

**N

[2019-07-11 16:12] rleverett commented on #480
There was no strike/dip information in the points files

Suggested Inserts:
[code]
[code]
[code]

[2019-07-11 18:52] rleverett opened #481 "Hillston, New South Wales"
**Name:**
Colqhoun G.P., Cameron R.G. and Meakin N.S., 2008, Hillston 1:100 000 Geological Sheet 8031, 1st edition. Geological Survey of New South Wales, Sydney.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/95

**Estimated scale:**
large

**Folder name:**
nsw_hillston

**Dataset names:**
nsw_hillston
nsw_hillston_lines
nsw_hillston_points

**Number of bedrock polygons:**
512

**Li

[2019-07-11 18:53] rleverett commented on #481
Suggested Inserts:
[code]
[code]
[code]

[2019-07-11 19:50] rleverett opened #482 "Merriwagga, New South Wales"
**Name:**
Colquhoun G.P., Meakin N.S. and Cameron R.G., 2008, Merriwagga 1:100 000 Geological Sheet 8030, 1st edition. Geological Survey of New South Wales, Sydney

**Source URL:**
https://search.geoscience.nsw.gov.au/product/110

**Estimated scale:**
large

**Folder name:**
nsw_merriwagga

**Dataset names:**
nsw_merriwagga
nsw_merriwagga_lines
nsw_merriwagga_points

**Number of bedrock polygons:*

[2019-07-11 19:51] rleverett commented on #482
Some weird labels, otherwise fine

Suggested Inserts:
[code]
[code]
[code]

[2019-07-12 17:34] rleverett opened #483 "Milparinka, New South Wales"
**Name:**
Greenfield J.E. and Reid W.J. 2010. Milparinka 1:100 000 Geological Sheet 7238, First edition. Geological Survey of New South Wales, Maitland.
--

**Source URL:**
https://search.geoscience.nsw.gov.au/product/6

**Estimated scale:**
large

**Folder name:**
nsw_milparinka

**Dataset names:**
nsw_milparinka
nsw_milparinka_lines
nsw_milparinka_points

**Number of bedrock polygons:**
1409

**

[2019-07-12 17:35] rleverett commented on #483
Suggested Inserts:
[code]
[code]
[code]

[2019-07-12 18:31] rleverett opened #484 "Mt Arrowsmith, New South Wales"
**Name:**
Greenfield, J.E. and Reid, W.J. 2010 Mount Arrowsmith 1:100 000 Geological Sheet 7237, First edition. Geological Survey of New South Wales, Maitland

**Source URL:**
https://search.geoscience.nsw.gov.au/product/8

**Estimated scale:**
large

**Folder name:**
nsw_mtarrowsmith

**Dataset names:**
nsw_mtarrowsmith
nsw_mtarrowsmith_lines
nsw_mtarrowsmith_points

**Number of bedrock polygons:

[2019-07-12 18:32] rleverett commented on #484
Suggested Inserts:
[code]
[code]
[code]

[2019-07-12 19:27] rleverett opened #485 "Mudgee, New South Wales"
**Name:**
Colqhoun G.P., Meakin N.S., Henderson G.A.M., Krynen J.P., Jagodzinski E.A., Watkins J.J. and Yoo E.K., 2000, Mudgee 1:100 000 Geological Sheet 8832, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra

**Source URL:**
https://search.geoscience.nsw.gov.au/product/122

**Estimated scale:**
large

**Folder name:**
nsw_mudgee

**Dataset names:**
nsw_mu

[2019-07-12 19:28] rleverett commented on #485
Edit: there was no strike/dip information in the point files

Suggested Inserts:
[code]
[code]
[code]

[2019-07-15 17:29] rleverett opened #486 "Nuchea, New South Wales"
**Name:**
Sharp T.R., Buckley P.M., 2015, Nuchea 1:100 000 Geological Sheet 7335, 2nd edition. Geological Survey of New South Wales, Maitland

**Source URL:**
https://search.geoscience.nsw.gov.au/product/14

**Estimated scale:**
large

**Folder name:**
nsw_nuchea

**Dataset names:**
nsw_nuchea
nsw_nuchea_lines
nsw_nuchea_points

**Number of bedrock polygons:**
1515

**Lithology field:**

**Time fi

[2019-07-15 17:30] rleverett commented on #486
Suggested Inserts:

[code]
[code]
[code]

[2019-07-15 18:39] aazaff commented on #476
A few of these have preliminary in the title, what does that mean? The abstract says it will be finished in 2013?

[2019-07-15 18:41] aazaff commented on #476
Looks ready for ingestion.

[2019-07-15 18:46] aazaff commented on #475
@ericjohannes The map looks fine, but there is another layer called may_delete? I assume you want to delete this? A lot of the ones you've recently submitted seem to have duplicate layers in them. Can we clean it up just so only the relevant layers are included?

[2019-07-15 18:54] aazaff commented on #470
@ericjohannes I think you uploaded the wrong layer? The attributes table is completely blank.

[2019-07-17 15:48] rleverett opened #487 "Olive Downs, New South Wales"
**Name:**
Brown, R.E. and Vickery, N.M., 2010, Olive Downs 1:100 000 Geological Sheet 7239, First edition. Geological Survey of New South Wales, Maitland

**Source URL:**
https://search.geoscience.nsw.gov.au/product/5

**Estimated scale:**
large

**Folder name:**
nsw_olivedowns

**Dataset names:**
nsw_olivedowns
nsw_olivedowns_lines
nsw_olivedowns_points

**Number of bedrock polygons:**
3063

**Li

[2019-07-17 15:49] rleverett commented on #487
Suggested Inserts:
[code]
[code]
[code]

[2019-07-17 16:42] rleverett opened #488 "Parkes, New South Wales"
**Name:**
Raymond O.L., Sherwin L., Wallace D.A., Wyborn D., Young G.C. and Percival I.G., 2000, Parkes 1:100 000 Geological Sheet 8531, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra

**Source URL:**
https://search.geoscience.nsw.gov.au/product/129

**Estimated scale:**
large

**Folder name:**
nsw_parkes

**Dataset names:**
nsw_parkes
nsw_parkes_lines
n

[2019-07-17 16:43] rleverett commented on #488
Suggested Inserts:
[code]
[code]
[code]

[2019-07-18 19:09] rleverett opened #489 "Rankins Springs, New South Wales"
**Name:**
Cameron R.G., Meakin N.S., Vassallo J.J. and Hendrickx M.A., 2008, Rankins Springs 1:100 000 Geological Sheet 8130, 1st edition. Geological Survey of New South Wales, Sydney

**Source URL:**
https://search.geoscience.nsw.gov.au/product/133

**Estimated scale:**
large

**Folder name:**
nsw_rankins

**Dataset names:**
nsw_rankins
nsw_rankins_lines
nsw_rankins_points

**Number of bedrock po

[2019-07-18 19:10] rleverett commented on #489
Suggested Inserts:
[code]
[code]
[code]

[2019-07-19 18:19] rleverett opened #490 "Forbes, New South Wales"
**Name:**
Raymond O.L., Duggan M.B., Lyons P., Scott M.M., Sherwin L., Wallace D.A., Krynen J.P., Young G.C., Wyborn D, Glen R.A., Percival I.G. and Leys M., 2000, Forbes 1:250 000 Geological Sheet SI/55-07, 2nd edition, Geological Survey of New South Wales, Sydney. Geoscience Australia, Canberra
--

**Source URL:**
https://search.geoscience.nsw.gov.au/product/169

**Estimated scale:**
large

**Fo

[2019-07-19 18:20] rleverett commented on #490
Some unmapped units.  Overlaps with a few 1:100k maps but mostly not.  No points files in the folder

Suggested Inserts:
[code]
[code]

[2019-07-22 13:59] ericjohannes commented on #470
@aazaff not sure what happened, but I reuploaded the data and updated the link. It should all be there now.

[2019-07-22 14:06] ericjohannes commented on #475
@aazaff I removed the other layers, reuploaded and edited the issue with the new link. I can clean all the layers this way, but I thought it was OK to have more layers. In the issue, I specify the layer to look at under "Dataset Name" and the fields under the different field headings. I thought your system could ignore everything else. Does it affect your process if there are extra layers?

[2019-07-22 16:29] rleverett opened #491 "Sussex, New South Wales"
**Name:**
Burton G.R., Trigg S.J. & Dawson M.W. Sussex 1:100 000 Geological Sheet 8135, First edition. Geological Survey of New South Wales, Maitland, NSW.
--

**Source URL:**
https://search.geoscience.nsw.gov.au/product/134

**Estimated scale:**
large

**Folder name:**
nsw_sussex

**Dataset names:**
nsw_sussex
nsw_sussex_lines
nsw_sussex_points

**Number of bedrock polygons:**
2382

**Lithology f

[2019-07-22 16:30] rleverett commented on #491
Suggested Inserts:
[code]
[code]
[code]

[2019-07-22 17:51] garymotz commented on #476
@aazaff the items in our inventory here that have been identified as 'preliminary' were items that were sent to USGS as formal deliverables for the STATEMAP funding requirements but may not have been finalized at the time of contribution to USGS. The 'preliminary' designation was added to the title in order to draw attention to the disclaimer included at the bottom of each of these printed maps (s

[2019-07-23 16:52] rleverett opened #492 "Taralga, New South Wales"
**Name:**
O.D. Thomas, M.M. Scott, A.J. Johnston and L. Sherwin, 2013. Taralga 1:100 000 Geological Sheet 8829, Second edition, Geological Survey of New South Wales, Orange.

**Source URL:**
https://search.geoscience.nsw.gov.au/product/137

**Estimated scale:**
large

**Folder name:**
nsw_taralga

**Dataset names:**
nsw_taralga
nsw_taralga_lines
nsw_taralga_points

**Number of bedrock polygons:**

[2019-07-23 16:54] rleverett commented on #492
Quartz veins are unmapped.  Comments in points files has a bit of relevant information.

Suggested Inserts:
[code]
[code]
[code]

[2019-07-23 19:33] rleverett opened #493 "Qulliq, NWT"
**Name:**
Geology, Qulliq, Victoria Island, Northwest Territories; Bédard, J H; Rainbird, R H; Beard, C. Geological Survey of Canada, Canadian Geoscience Map 189, (ed. prelim.), 2015, 1 sheet

**Source URL:**
https://doi.org/10.4095/297278

**Estimated scale:**
large

**Folder name:**
nwt_qulliq

**Dataset names:**
nwt_qulliq
nwt_qulliq_lines
nwt_qulliq_points

**Number of bedrock polygons:**
198

[2019-07-23 19:34] rleverett commented on #493
Some unmapped units

Suggested Inserts:
[code]
[code]
[code]

[2019-07-23 21:32] aazaff commented on #475
I guess it'll really be up to @rleverett, who is the new uploader, and how they prefer to work with it. If they can navigate the extra layers then it should be no problem.

[2019-07-24 18:27] rleverett opened #494 "Winter Cove Bay, NWT"
**Name:**
Geology, Winter Cove Bay, Victoria Island, Northwest Territories; Bédard, J H; Rainbird, R H; Williamson, M -C. Geological Survey of Canada, Canadian Geoscience Map 193, (ed. prelim.), 2015, 1 sheet

**Source URL:**
https://doi.org/10.4095/297282

**Estimated scale:**
large

**Folder name:**
nwt_wintercove

**Dataset names:**
nwt_wintercove
nwt_wintercove_lines
nwt_wintercove_points

**N

[2019-07-24 18:28] rleverett commented on #494
Some unmapped units.

Suggested Inserts:
[code]
[code]
[code]

[2019-07-24 19:50] rleverett opened #495 "Inuvik, NWT"
**Name:**
Geology, Inuvik, Northwest Territories; Cecile, M P; Lane, L S; Dyke, L D; Norris, D K. Geological Survey of Canada, Canadian Geoscience Map 178, (ed. prelim.), 2015, 1 sheet

**Source URL:**
https://doi.org/10.4095/295655

**Estimated scale:**
large

**Folder name:**
nwt_inuvik

**Dataset names:**
nwt_inuvik
nwt_inuvik_lines
nwt_inuvik_points

**Number of bedrock polygons:**
25

**Litho

[2019-07-24 19:51] rleverett commented on #495
No planar points.

Suggested Inserts:
[code]
[code]
[code]

[2019-07-26 16:10] hsnellen opened #496 "IGS-DWM-173 Bonners Ferry East 30X60"
**Name:**
Bonners Ferry East

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-DWM-173_BonnersFerryEast30x60_macrostrat.gdb

**Dataset names:**
'dwm173_BonnersFerry_DOMU_xlsx_MacroStratPolyTable' and 'dwm173_BonnersFerry_DOMU_xlsx_DescriptionOfMapUnits'

**Number of bedrock polygons:**
2127

**Lithology field:**
GeneralLitholog

[2019-07-26 16:23] hsnellen opened #497 "IGS-DWM-43 Twin Falls 30X60"
**Name:**
Twin Falls

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-DWM-43_TwinFalls30x60_macrostrat.gdb

**Dataset names:**
MacroStratPolyTable

**Number of bedrock polygons:**
1302

**Lithology field:**
GeneralLithology

**Time field:**
'B_age' and 'Top_age'

**Stratigraphy name field:**
strat_name

**Description field:**

[2019-07-26 16:34] hsnellen opened #498 "IGS-Dwm-80 Murphy 30X60"
**Name:**
Murphy

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-DWM-80_Murphy30x60_macrostrat.gdb

**Dataset names:**
'MacroStratPolyTable' and 'DescriptionOfMapUnits'

**Number of bedrock polygons:**
1181

**Lithology field:**
GeneralLit

**Time field:**
'Top_age' and 'B_age'

**Stratigraphy name field:**
strat_name

**Desc

[2019-07-26 16:40] hsnellen opened #499 "IGS-DWM-92 Headquarters"
**Name:**
Headquarters

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-DWM-92_Headquarters.gdb

**Dataset names:**
macroStratPolyTable

**Number of bedrock polygons:**
1662

**Lithology field:**
GeneralLithology

**Time field:**
'Top_Age' and 'Bottom_Age'

**Stratigraphy name field:**
strat_name

**Description field:**
Descri

[2019-07-26 16:49] hsnellen opened #500 "IGS-DWM-171 Fairfield 30X60"
**Name:**
Fairfield

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-DWM_171_Fairfield30x60_macrostrat.gdb

**Dataset names:**
macroStratPolyTable

**Number of bedrock polygons:**
3075

**Lithology field:**
GeneralLithology

**Time field:**
'Top_Age' and ' Bottom_Age'

**Stratigraphy name field:**
strat_name

**Description fie

[2019-07-26 16:55] hsnellen opened #501 "IGS-GM-29 Idaho City 30X60"
**Name:**
Idaho City

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-GM-29_IdahoCity30x60macrostrat.gdb

**Dataset names:**
MacroStratTable

**Number of bedrock polygons:**
3947

**Lithology field:**
GeneralLithology

**Time field:**
'bottom_age' and 'top_age'

**Stratigraphy name field:**
strat_name

**Description field:**
D

[2019-07-26 17:00] hsnellen opened #502 "IGS-GM-45 Deadwood River 30X60"
**Name:**
Deadwood River

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-GM-45_DeadwoodRiver30x60_macrostrat.gdb

**Dataset names:**
gm45_DeadwoodRiver_DOMU_xlsx_MacroStratPolyTable

**Number of bedrock polygons:**
3778

**Lithology field:**
GeneralLithology

**Time field:**
'Top_age' and 'B_age'

**Stratigraphy name field:**

[2019-07-26 17:13] hsnellen opened #503 "IGS-GM-47 Acro 30X60"
**Name:**
Acro

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-GM-47_Arco30x60Macrostrat.gdb

**Dataset names:**
MacroStratPolyTable

**Number of bedrock polygons:**
3718

**Lithology field:**
GeneralLithology

**Time field:**
'Bottom_Age' and 'Top_Age'

**Stratigraphy name field:**
strat_name

**Description field:**
Descript

[2019-07-26 17:21] hsnellen opened #504 "IGS-GM-50 Grangeville 30 X60"
**Name:**
Grangeville

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-GM-50_Grangeville30x60_macrostrat.gdb

**Dataset names:**
'Glossary', 'macroStratPolyTable', 'DescriptionOfMapUnits', 'DataSources' , 'DataDictionary'.

**Number of bedrock polygons:**
2268

**Lithology field:**
GeneralLithology

**Time field:**
'bottom_age

[2019-07-26 17:26] hsnellen opened #505 "IGS-GM-52 Salmon 30X60"
**Name:**
Salmon

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/

**Estimated scale:**
Large

**Folder name:**
IGS-GM-52_Salmon30x60_macrostrat.gdb

**Dataset names:**
gm52domu

**Number of bedrock polygons:**
2471

**Lithology field:**
GeneralLithology

**Time field:**
'Top_age' and 'B_age'

**Stratigraphy name field:**
strat_name

**Description field:**
Description

**Comm

[2019-07-29 21:17] rleverett opened #506 "Qinnguk, NWT"
**Name:**
Geology, Qinnguk, Victoria Island, Northwest Territories; Rainbird, R H; Bédard, J H; Thomson, D. Geological Survey of Canada, Canadian Geoscience Map 176, (ed. prelim.), 2014, 1 sheet

**Source URL:**
https://doi.org/10.4095/294837

**Estimated scale:**
large

**Folder name:**
nwt_qinnguk

**Dataset names:**
nwt_qinnguk
nwt_qinnguk_points

**Number of bedrock polygons:**
399

**Litholog

[2019-07-29 21:17] rleverett commented on #506
No line files.

Suggested Inserts:
[code]
[code]

[2019-07-30 17:43] rleverett opened #507 "Ulukhaktok, NWT"
**Name:**
Geology, Ulukhaktok, Victoria Island, Northwest Territories; Bédard, J H; Rainbird, R H. Geological Survey of Canada, Canadian Geoscience Map 190, (ed. prelim.), 2015, 1 sheet

**Source URL:**
https://doi.org/10.4095/297279

**Estimated scale:**
large

**Folder name:**
nwt_ulukhaktok

**Dataset names:**
nwt_ulukhaktok
nwt_ulukhaktok_lines
nwt_ulukhaktok_points

**Number of bedrock polygo

[2019-07-30 17:44] rleverett commented on #507
Some unmapped units

Suggested Inserts:
[code]
[code]
[code]

[2019-07-30 19:24] rleverett commented on #476
I didn't find a set of lines or points in the data.  Is that to be expected or is it a technical issue with QGIS?

[2019-07-30 19:26] rleverett commented on #476
Nevermind.  Figured it out.

[2019-07-30 19:26] aazaff commented on #476
@rleverett cool. All of these Indiana maps are on the simplistic side. Few polygons and will rarely have lines or point data.

[2019-07-31 16:27] rleverett opened #508 "Pierceton, Indiana"
**Name:**
Preliminary Quaternary geologic map of the Pierceton, South Whitley West, and portions of the North Webster 7.5-minute quadrangles, Indiana

**Source URL:**
Data: https://iu.box.com/s/glkasddebdzfde99frwhqb0iqj6r94mm
Publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS13-04

**Estimated scale:**
large

**Folder name:**
Pierceton

**Dataset names:**
in_pierceton

**Numb

[2019-07-31 16:28] rleverett commented on #508
No line or point files

Suggested Inserts:
[code]

[2019-07-31 18:49] rleverett opened #509 "Burket, Indiana"
**Name:**
Karaffa, M. D., 2015, Preliminary map showing Quaternary geology of the Burket 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-03, scale 1:24,000.

**Source URL:**
Data: https://iu.box.com/s/1em3u3ro9yr86f5g2evy2ja1czqyxalr
Publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-03

**Estimated scale:**
large

**Folder name:**
Burket

**Data

[2019-07-31 19:28] rleverett commented on #509
Suggested Inserts:
[code]

[2019-07-31 19:30] rleverett opened #510 "Warsaw, Indiana"
**Name:**
Karaffa, M. D., 2015, Preliminary map showing Quaternary geology of the Warsaw 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-04, scale 1:24,000.

**Source URL:**
Data: https://iu.box.com/s/k5amsjig69sqzd4nboi1807v05pyv85z
Publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-04

**Estimated scale:**
large

**Folder name:**
Warsaw

**Data

[2019-07-31 19:30] rleverett commented on #510
Suggested Inserts:
[code]

[2019-07-31 19:59] rleverett opened #511 "Columbus, Indiana"
**Name:**
Loope, H. M., Rupp, R. F., and Hasenmueller, W. A., 2014, Preliminary Quaternary geologic map of the Columbus 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 14-03, scale 1:24,000.

**Source URL:**
Data: https://iu.box.com/s/gtx0dj03lldbs4459lkx3mq3yp33gb31
Publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS14-03

**Estimated scale:**
large

[2019-07-31 20:01] rleverett commented on #511
Labeled the early_id and late_id of the units for which the age was listed as 'Illinoian' as the id for Pleistocene.

Suggested Inserts:
[code]

[2019-08-01 16:24] rleverett opened #512 "New Bellsville, Indiana"
**Name:**
Loope, H. M., Rupp, R. F., and Hasenmueller, W. A., 2014, Preliminary Quaternary geologic map of the New Bellsville 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 14-02, scale 1:24,000.

**Source URL:**
Data: https://iu.box.com/s/t91i6hjs9ckug3k4pl93q4fwnkpzqs4x
Publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS14-02

**Estimated scale:**
l

[2019-08-01 16:24] rleverett commented on #512
Suggested Inserts:
[code]

[2019-08-01 18:47] rleverett opened #513 "Hope, Indiana"
**Name:**
Loope, H. M., 2015, Preliminary map showing Quaternary geology of the Hope 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-06, scale 1:24,000.

**Source URL:**
Data: https://iu.app.box.com/s/v8rost5qi6eaet93xofamxnq5bzmzjru
Publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-06

**Estimated scale:**
large

**Folder name:**
Hope

**Datase

[2019-08-01 18:50] rleverett commented on #513
I'm not sure what to do with the polygons labeled "X".  There's nothing labeled "X" on the map and there are 1 more labels on the published map than there are in the files and "X" has no clear correlation to any of the labels on the map.

Suggested Inserts:
[code]

[2019-08-01 20:00] rleverett opened #514 "Edinburgh, Indiana"
**Name:**
Loope, H. M., Rupp, R. F., and Hasenmueller, W. A., 2015, Preliminary map showing Quaternary geology of the Edinburgh 7.5-minute quadrangle, Indiana: Indiana Geological Survey Open-File Study 15-02, scale 1:24,000.

**Source URL:**
Data: https://iu.app.box.com/s/tkygy2v3vlcq6r9m0rp1m7x16lyn9b4d
Publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS15-02

**Estimated scal

[2019-08-01 20:01] rleverett commented on #514
Suggested Inserts:
[code]

[2019-08-05 15:21] rleverett opened #515 "South Whitley West, Indiana"
**Name:**
Karaffa, M. , Prentice, M. L. 2013, Preliminary Quaternary geologic map of the Pierceton, South Whitley West, and portions of the North Webster 7.5-minute quadrangles, Indiana: Indiana Geological Survey Open-File Study 13-04

**Source URL:**
Data: https://iu.app.box.com/s/nlb6cvmhsyjs94fk5826vxzikkk1md1c
Publication: https://igws.indiana.edu/bookstore/details.cfm?Pub_Num=OFS13-04

**Esti

[2019-08-05 15:21] rleverett commented on #515
Suggested Inserts:
[code]

[2019-08-09 18:31] rleverett opened #516 "Iglulik, NWT"
**Name:**
Geology, Iglulik, Victoria Island, Northwest Territories; Bédard, J H; Rainbird, R H. Geological Survey of Canada, Canadian Geoscience Map 199, (ed. prelim.), 2015, 1 sheet

**Source URL:**
https://doi.org/10.4095/297283

**Estimated scale:**
large

**Folder name:**
nwt_iglulik

**Dataset names:**
nwt_iglulik
nwt_iglulik_lines
nwt_iglulik_points

**Number of bedrock polygons:**
171

**Li

[2019-08-09 18:32] rleverett commented on #516
Suggested inserts:
[code]
[code]
[code]

[2019-08-12 19:50] rleverett opened #517 "Blayney, NSW"
**Name:**
Wyborn D. and Henderson G.A.M., 1997, Blayney 1:100 000 Geological Sheet 8730, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra

**Source URL:**
https://search.geoscience.nsw.gov.au/product/45

**Estimated scale:**
large

**Folder name:**
nsw_blayney

**Dataset names:**
nsw_blayney
nsw_blayney_lines
nsw_blayney_points

**Number of bedrock polygon

[2019-08-12 19:54] rleverett commented on #517
No strike/dip in the points files

Suggested Inserts:
[code]
[code]
[code]

[2019-08-13 16:32] rleverett opened #518 "Bogan Gate, NSW"
**Name:**
Sherwin L., Raymond O.L. and Wallace D.A., 2000, Bogan Gate 1:100 000 Geological Sheet 8431, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra.
--

**Source URL:**
https://search.geoscience.nsw.gov.au/product/47

**Estimated scale:**
large

**Folder name:**
nsw_bogangate

**Dataset names:**
nsw_bogangate
nsw_bogangate_lines

**Number of bedrock po

[2019-08-13 16:33] rleverett commented on #518
No points files

Suggested Inserts:
[code]
[code]

[2019-08-13 18:39] rleverett opened #519 "Canberra, NSW"
**Name:**
Abell, R. S.. 1992, Canberra 1:100 000 scale geological map. 8727. 1st Edition, BMR, Canberra
--

**Source URL:**
https://search.geoscience.nsw.gov.au/product/59

**Estimated scale:**
large

**Folder name:**
nsw_canberra

**Dataset names:**
nsw_canberra
nsw_canberra_lines

**Number of bedrock polygons:**
1265

**Lithology field:**
lithology

**Time field:**
use_age

**Stratigraphy name f

[2019-08-13 18:41] rleverett commented on #519
No points files

Suggested Inserts:
[code]
[code]

[2019-08-13 19:23] rleverett opened #520 "Cobar, NSW"
**Name:**
Glen R.A., 1994, Cobar 1:100 000 Geological Sheet 8035, 2nd edition. Geological Survey of New South Wales, Sydney
--

**Source URL:**
https://search.geoscience.nsw.gov.au/product/70

**Estimated scale:**
large

**Folder name:**
nsw_cobar

**Dataset names:**
nsw_cobar
nsw_cobar_lines

**Number of bedrock polygons:**
2963

**Lithology field:**

**Time field:**
age

**Stratigraphy name fiel

[2019-08-13 19:25] rleverett commented on #520
No point files

Suggested Inserts:
[code]
[code]

[2019-08-14 16:28] rleverett opened #521 "Cobbora, NSW"
**Name:**
Meakin N.S., Henderson G.A.M., Podgon D.J., Colqhoun G.P. and Barron L., 2000, Cobbora 1:100 000 Geological Sheet 8733, 1st edition. Geological Survey of New South Wales, Sydney & Geoscience Australia, Canberra
--

**Source URL:**
https://search.geoscience.nsw.gov.au/product/71

**Estimated scale:**
large

**Folder name:**
nsw_cobbora

**Dataset names:**
nsw_cobbora
nsw_cobbora_lines
nsw

[2019-08-14 16:29] rleverett commented on #521
No strike/dip information in the points files.

Suggested Inserts:
[code]
[code]

[2019-08-19 17:25] cambro commented on #505
This looks great! It's not clear what the citation should be or where the link would go to for a user wishing to see (or buy) the original source.

[2019-08-22 14:17] cambro commented on #505
Update here: there is a field "comments" that seems to have the right data:
 Idaho Geological Survey; Geologic Map of the Western Part of the Salmon 30 X 60 Minute Quadrangle, Idaho and Montana; Burmester and others ; 2016; https://www.idahogeology.org/product/gm-52

[2019-08-23 19:58] cambro commented on #505
source_id 275
https://dev.macrostrat.org/burwell#10/45.24992/-113.688395

[2019-08-23 19:58] #505 closed, assigned to nobody

[2019-08-23 20:12] cambro commented on #504
Idaho Geological Survey; Geologic Map of the Idaho Part of the Grangeville 30 x 60 Minute Quadrangle, and Adjoining Areas of Oregon and Washington; Kauffman and others; 2014; https://www.idahogeology.org/product/gm-50

[2019-08-23 20:46] cambro commented on #504
source_id 276
https://dev.macrostrat.org/burwell#10/45.749885/-116.47207499999999

[2019-08-23 20:46] #504 closed, assigned to nobody

[2019-08-24 15:31] cambro commented on #502
This one was already imported into Macrostrat, source_id 202
https://dev.macrostrat.org/burwell/#10/44.2506/-115.5013

[2019-08-24 15:31] #502 closed, assigned to nobody

[2019-08-24 15:39] cambro commented on #503
This one and several others have combined stratigraphic nomenclatural hierarchy into the strat_name field. The strat_name field is for the MOST SPECIFIC name applied. Macrostrat generally already knows hierarchy. This information is useful but should be placed in other field "hierarchy"

[2019-08-24 15:47] cambro commented on #503
Idaho Geological Survey; Geologic Map of the Arco 30 x 60 Minute Quadrangle, South-Central Idaho; Skipp and others; 2009; https://www.idahogeology.org/product/gm-47

[2019-08-24 16:18] cambro commented on #503
source_id 277
https://dev.macrostrat.org/burwell#10/43.74991/-113.500855

[2019-08-24 16:18] #503 closed, assigned to nobody

[2019-08-24 16:46] cambro commented on #501
Idaho Geological Survey; Geologic map of the Idaho City 30 x 60 Minute quadrangle, Idaho; Kiilsgaard and others; 2001; https://www.idahogeology.org/product/gm-29

[2019-08-24 17:19] cambro commented on #501
source_id 278
https://dev.macrostrat.org/burwell#10/43.749894999999995/-115.500925

[2019-08-24 17:19] #501 closed, assigned to nobody

[2019-08-24 19:18] cambro commented on #500
Idaho Geological Survey; Geologic Map of the Fairfield 30 x 60 Minute Quadrangle, Idaho; Garwood and others; 2014; https://www.idahogeology.org/product/dwm-171

[2019-08-24 19:40] cambro commented on #500
source_id 279
https://dev.macrostrat.org/burwell#10/43.249905/-114.50088

[2019-08-24 19:40] #500 closed, assigned to nobody

[2019-08-24 19:55] cambro commented on #499
Idaho Geological Survey; Geologic Map of the Headquarters 30 x 60 Minute Quadrangle, Idaho; Lewis and others; 2007; https://www.idahogeology.org/product/dwm-92

[2019-08-24 20:03] cambro commented on #499
igs_lithology was empty in this source.

[2019-08-25 15:02] cambro commented on #498
Idaho Geological Survey; Geologic Map of the Murphy 30 x 60 Quadrangle, Ada, Canyon, Elmore, and Owyhee Counties, Idaho; Bonnichsen and Godchaux; 2006; https://www.idahogeology.org/product/dwm-80

[2019-08-25 15:40] cambro commented on #498
This one had a few errors. Some igs_lithology fields were null that should not have been, description was a duplication of name, and stratigraphic hierarchy was included in strat_name field. All fixed prior to import

source_id 280
https://dev.macrostrat.org/burwell#10/43.249885/-116.500955

[2019-08-25 15:40] #498 closed, assigned to nobody

[2019-08-25 15:51] cambro commented on #497
Idaho Geological Survey; Geologic Map of the Twin Falls 30 x 60 Minute Quadrangle, Idaho; Othberg and others; 2012; https://www.idahogeology.org/product/gm-49

[2019-08-25 16:18] cambro commented on #497
source_id 281
https://dev.macrostrat.org/burwell#10/42.74991/-114.50088

[2019-08-25 16:18] #497 closed, assigned to nobody

[2019-08-25 16:33] cambro commented on #496
Geologic Map of the East Half of the Bonners Ferry 30 x 60 Minute Quadrangle, Idaho; Breckenridge and others; 2014; https://www.idahogeology.org/product/dwm-173

[2019-08-25 16:58] cambro commented on #496
source_id 282
https://dev.macrostrat.org/burwell#10/48.750434999999996/-116.251025

[2019-08-25 16:58] #496 closed, assigned to rleverett

[2019-08-25 19:18] cambro commented on #521
errors in strat_name field:
[code]
source_id 283
https://dev.macrostrat.org/burwell#10/-32.24843/149.25117

[2019-08-25 19:24] #521 closed, assigned to cambro

[2019-08-26 19:04] cambro commented on #518
source_id 284
https://dev.macrostrat.org/burwell#10/-33.248455/147.751205

[2019-08-26 19:04] #518 closed, assigned to cambro

[2019-08-26 20:33] cambro commented on #491
The strike and dip on the points required major changes. The "azimuth" was the dip direction. strike therefore needed to be computed from that.

[2019-08-26 20:54] cambro commented on #491
source_id 285
https://dev.macrostrat.org/burwell/#11/-31.2604/146.3914

[2019-08-26 20:54] #491 closed, assigned to cambro

[2019-09-03 18:10] hsnellen opened #522 "Geologic Map of the Benson 7.5' Quadrangle, Cochise County, Arizona, v. 3.0"
**Name:**
Geologic Map of the Benson 7.5' Quadrangle, Cochise County, Arizona, v. 3.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630914

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630914/Benson_ncgmp09_nad.gdb.zip?sequence=6&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedr

[2019-09-03 19:27] hsnellen opened #523 "Surficial Geology and Geologic Hazards of the Amado-Tubac Area, Santa Cruz and Pima Counties, Arizona, v. 2.0"
**Name:**
Surficial Geology and Geologic Hazards of the Amado-Tubac Area, Santa Cruz and Pima Counties, Arizona, v. 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630871

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630871/AmadoTubac_ncgmp09.gdb.zip?sequence=4&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of

[2019-09-03 19:41] cambro commented on #523
The provided link requires a login.

[2019-09-03 19:55] hsnellen commented on #523
@cambro Figured out the issue, the link has now been fixed.

[2019-09-03 19:56] aazaff commented on #523
In case if this ever happens accidentally again, a link to the file can still always be downloaded from the parent URL given in MetadataSource URL. Though we will, of course, try to not let it happen again.

[2019-09-03 20:16] hsnellen opened #524 "Geologic Map of the Batamote Hills 7.5' Quadrangle, Pima County, Arizona, v. 2.0"
**Name:**
Geologic Map of the Batamote Hills 7.5' Quadrangle, Pima County, Arizona, v. 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630913

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630913/Batamote_ncgmp09.gdb.zip?sequence=4&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/B

[2019-09-03 20:43] hsnellen opened #525 "Geologic Map of the Esperanza Mill 7.5' Quadrangle, Pima County, Arizona, v. 2.0"
**Name:**
Geologic Map of the Esperanza Mill 7.5' Quadrangle, Pima County, Arizona, v. 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630924

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630924/EsperanzaMill_ncgmp09.gdb.zip?sequence=4&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surfic

[2019-09-03 21:12] hsnellen opened #526 "Geological Map of the Galleta Flat East 7.5' Quadrangle, Cochise County, Arizona, v. 3.0"
**Name:**
Geological Map of the Galleta Flat East 7.5' Quadrangle, Cochise County, Arizona, v. 3.0

**Metadata Source URL:**
http://hdl.handle.net/10150/634061

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/634061/galletaflateast_ncgmp09.gdb_.zip?sequence=6&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygon

[2019-09-03 21:33] hsnellen opened #527 "Geologic Map of the Helvetia 7.5' Quadrangle, Pima County, Arizona"
**Name:**
Geologic Map of the Helvetia 7.5' Quadrangle, Pima County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/629759

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/629759/Helvetia_ncgmp09.gdb.zip?sequence=3&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedrock Polygon

[2019-09-03 22:02] hsnellen opened #528 "Geologic Map of the Mount Fagan 7.5' Quadrangle, Eastern Pima County, Arizona, v. 2.0"
**Name:**
Geologic Map of the Mount Fagan 7.5' Quadrangle, Eastern Pima County, Arizona, v. 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630868

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630868/MtFagan_ncgmp09.gdb.zip?sequence=4&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surfici

[2019-09-03 22:19] hsnellen opened #529 "Geologic Map of the Oro Valley 7.5' Quadrangle and the Pusch Peak area, Northeastern Pima County, Arizona, v. 3.0"
**Name:**
Geologic Map of the Oro Valley 7.5' Quadrangle and the Pusch Peak area, Northeastern Pima County, Arizona, v. 3.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630944

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630944/OroValley_ncgmp09.gdb.zip?sequence=3&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number

[2019-09-03 22:29] hsnellen opened #530 "Geologic Map of the Samaniego Peak 7.5' Quadrangle, Pima County, Arizona, v. 2.0,"
**Name:**
Geologic Map of the Samaniego Peak 7.5' Quadrangle, Pima County, Arizona, v. 2.0,

**Metadata Source URL:**
http://hdl.handle.net/10150/630952

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630952/SamaniegoPeak_ncgmp09.gdb.zip?sequence=4&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surfi

[2019-09-03 22:44] hsnellen opened #531 "Geologic Map and Geologic Hazards of the Three Points 7.5' Quadrangle, Pima County, Arizona, v. 2.0"
**Name:**
Geologic Map and Geologic Hazards of the Three Points 7.5' Quadrangle, Pima County, Arizona, v. 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630860

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630860/ThreePoints_ncgmp09.gdb.zip?sequence=4&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock p

[2019-09-03 22:56] hsnellen opened #532 "Geologic Map of the Waterman Peak 7.5' Quadrangle and northern La Tortuga Butte 7.5' Quadrangle, Pima County, Arizona, v. 2.0"
**Name:**
Geologic Map of the Waterman Peak 7.5' Quadrangle and northern La Tortuga Butte 7.5' Quadrangle, Pima County, Arizona, v. 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630254

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630254/Waterman_ncgmp09.gdb.zip?sequence=4&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

[2019-09-04 17:26] hsnellen opened #533 "Geologic Map of the North Trigo Peaks 7 ½' Quadrangle ,La Paz County, Arizona"
**Name:**
Geologic Map of the North Trigo Peaks 7 ½' Quadrangle ,La Paz County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/631571

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631571/NTrigoPeaks.gdb.zip?sequence=11&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedrock

[2019-09-04 18:04] #533 closed, assigned to nobody

[2019-09-04 18:16] hsnellen opened #534 "Geologic map of the Dragoon 7.5 'Quadrangle, Cochise County, Arizona"
**Name:**
Geologic map of the Dragoon 7.5 'Quadrangle, Cochise County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/631524

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631524/Dragoon.gdb.zip?sequence=8&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedrock polygons:
1295

[2019-09-04 19:48] hsnellen opened #535 "Geologic map of the Happy Valley 7 ½' Quadrangle, Cochise and Pima Counties, Arizona"
**Name:**
Geologic map of the Happy Valley 7 ½' Quadrangle, Cochise and Pima Counties, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/629181

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/629181/HappyValley_ncgmp09.gdb.zip?sequence=10&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Sur

[2019-09-04 20:33] hsnellen opened #536 "Geologic Map of the Fort Thomas area, Graham County, Arizona"
**Name:**
Geologic Map of the Fort Thomas area, Graham County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/631570

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631570/FtThomas.gdb.zip?sequence=8&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedrock polygons:
2111

**Lit

[2019-09-04 20:50] hsnellen opened #537 "Geologic Map of the Somerton 7 1/2' Quadrangle, Yuma County, Arizona"
**Name:**
Geologic Map of the Somerton 7 1/2' Quadrangle, Yuma County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/630259

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630259/SomertonNcgmp09.gdb.zip?sequence=9&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedrock polygo

[2019-09-04 20:57] hsnellen opened #538 "Geologic Map of the Lookout Mountain 7.5' Quadrangle, Pinal County, Arizona, v. 2.0"
**Name:**
Geologic Map of the Lookout Mountain 7.5' Quadrangle, Pinal County, Arizona, v. 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631072

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631072/LookoutMtn_ncgmp09_utm.gdb.zip?sequence=11&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
S

[2019-09-04 21:02] hsnellen opened #539 "Geologic map of the Yuma Southeast 7.5’ Quadrangle, Yuma County, Arizona v 1.0"
**Name:**
Geologic map of the Yuma Southeast 7.5’ Quadrangle, Yuma County, Arizona v 1.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631081

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631081/YumaSEncgmp09.gdb.zip?sequence=7&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedroc

[2019-09-04 21:06] hsnellen opened #540 "Geologic Map of the Fairbank 7.5' Quadrangle, Cochise County, Arizona, v. 3.0"
**Name:**
Geologic Map of the Fairbank 7.5' Quadrangle, Cochise County, Arizona, v. 3.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631055

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631055/Fairbank_ncgmp09.gdb.zip?sequence=11&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bed

[2019-09-04 21:14] hsnellen opened #541 "Geologic Map of the Yuma East 7.5' Quadrangle, Yuma County, Arizona"
**Name:**
Geologic Map of the Yuma East 7.5' Quadrangle, Yuma County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/631055

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630150/YumaEastNcgmp09.gdb.zip?sequence=9&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedrock polygon

[2019-09-04 21:25] hsnellen opened #542 "Geologic Map of the Lewis Springs 7 1/2’ Quadrangle v. 2.0, Cochise County, Arizona"
**Name:**
Geologic Map of the Lewis Springs 7 1/2’ Quadrangle v. 2.0, Cochise County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/630574

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630574/LewisSpring_ncgmp09.gdb.zip?sequence=12&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surf

[2019-09-04 22:05] hsnellen opened #543 "Geologic Map of the Soza Canyon 7½' Quadrangle, Cochise and Pima Counties, Arizona"
**Name:**
Geologic Map of the Soza Canyon 7½' Quadrangle, Cochise and Pima Counties, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/631069

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631069/SozaCanyon_ncgmp09_utm.gdb.zip?sequence=11&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Su

[2019-09-04 22:12] hsnellen opened #544 "Geologic Map of the Wildhorse Mountain 7½′ Quadrangle, Cochise County, Arizona"
**Name:**
Geologic Map of the Wildhorse Mountain 7½′ Quadrangle, Cochise County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/631069

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631075/Wildhorse_ncgmp09_utm.gdb.zip?sequence=11&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surfici

[2019-09-04 22:20] hsnellen opened #545 "Geologic map of the Middle Water Spring 7 ½' Quadrangle, Mohave County, Arizona v 1.0"
**Name:**
Geologic map of the Middle Water Spring 7 ½' Quadrangle, Mohave County, Arizona v 1.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631068

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631068/MiddleWaterSpring_ncgmp09.gdb.zip?sequence=7&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:

[2019-09-05 16:30] hsnellen opened #546 "Geologic Map of the Star Well 7.5' Quadrangle, Maricopa County, Arizona, v. 1.0"
**Name:**
Geologic Map of the Star Well 7.5' Quadrangle, Maricopa County, Arizona, v. 1.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631082

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631082/StarWell_ncgmp09.gdb.zip?sequence=8&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Be

[2019-09-10 16:18] hsnellen opened #547 "Geologic Map of the Mammoth 7.5' Quadrangle, Pinal County, Arizona, v. 1"
**Name:**
Geologic Map of the Mammoth 7.5' Quadrangle, Pinal County, Arizona, v. 1

**Metadata Source URL:**
http://hdl.handle.net/10150/631077

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631077/Mammoth_ncgmp09_utm.gdb.zip?sequence=13&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedro

[2019-09-10 16:23] hsnellen opened #548 "Geologic Map of the Wagner Wash Well 7.5' Quadrangle, Maricopa County, Arizona, v. 1.0"
**Name:**
Geologic Map of the Wagner Wash Well 7.5' Quadrangle, Maricopa County, Arizona, v. 1.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631083

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631083/WagnerWashWell_ncgmp09.gdb.zip?sequence=11&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:*

[2019-09-10 16:24] hsnellen opened #549 "Geological Map of the Redington 7.5’ Quadrangle, Cochise, Graham, and Pima Counties, Arizona v 3.0"
**Name:**
Geological Map of the Redington 7.5’ Quadrangle, Cochise, Graham, and Pima Counties, Arizona v 3.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631080

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631080/Redington_ncgmp09_utm.gdb.zip?sequence=10&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock

[2019-09-10 16:28] hsnellen opened #550 "Geologic Map of the Peppersauce Wash 7½' Quadrangle and Part of the Kielberg Canyon 7 ½’ Quadrangle, Pinal and Pima Counties, Arizona v. 1.0"
**Name:**
Geologic Map of the Peppersauce Wash 7½' Quadrangle and Part of the Kielberg Canyon 7 ½’ Quadrangle, Pinal and Pima Counties, Arizona v. 1.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630258

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630258/Peppersauce_Ncgmp09_utm.gdb.zip?sequence=11&isAllowed=y

**Estimated scale:**
Large

**Folder name

[2019-09-10 16:30] hsnellen opened #551 "Geologic map of the Clark Ranch 7 ½’ Quadrangle and the west half of the Rhodes Peak 7 ½’ Quadrangle, Pinal and Graham Counties, Arizona v2.0"
**Name:**
Geologic map of the Clark Ranch 7 ½’ Quadrangle and the west half of the Rhodes Peak 7 ½’ Quadrangle, Pinal and Graham Counties, Arizona v2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631076

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631076/RhodesPeakClarkRanch_Ncgmp09.gdb.zip?sequence=10&isAllowed=y

**Estimated scale:**
Large

**Folde

[2019-09-10 16:32] hsnellen opened #552 "Geologic Map of the Hereford 7½’ Quadrangle and the northern part of the Stark 7½’ Quadrangle, Cochise County, Arizona v 3.0"
**Name:**
Geologic Map of the Hereford 7½’ Quadrangle and the northern part of the Stark 7½’ Quadrangle, Cochise County, Arizona v 3.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631070

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631070/Hereford_ncgmp09.gdb.zip?sequence=10&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

[2019-09-10 16:46] hsnellen opened #553 "Geologic Map of the Saint David 7½’ Quadrangle, Cochise County, Arizona v3.0"
**Name:**
Geologic Map of the Saint David 7½’ Quadrangle, Cochise County, Arizona v3.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631079

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631079/StDavid_Ncgmp09_nad.gdb.zip?sequence=11&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/B

[2019-09-10 16:53] hsnellen opened #554 "Geologic map of the Land 7 ½' Quadrangle v. 2.0, Cochise County, Arizona"
**Name:**
Geologic map of the Land 7 ½' Quadrangle v. 2.0, Cochise County, Arizona

**Metadata Source URL:**
http://hdl.handle.net/10150/631078

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631078/Land_ncgmp09.gdb.zip?sequence=8&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedrock polyg

[2019-09-10 16:56] hsnellen opened #555 "Geologic Map of the Needles NE 7.5’ Quadrangle, Mohave County, Arizona v2.0"
**Name:**
Geologic Map of the Needles NE 7.5’ Quadrangle, Mohave County, Arizona v2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631071

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631071/NeedlesNE_Ncgmp09.gdb.zip?sequence=10&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Bedr

[2019-09-10 16:59] hsnellen opened #556 "Geologic Map of the Davis Dam SE 7.5' Quadrangle, Mohave County, Arizona, and Clark County, Nevada v 2.0"
**Name:**
Geologic Map of the Davis Dam SE 7.5' Quadrangle, Mohave County, Arizona, and Clark County, Nevada v 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/631073

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/631073/DavisDamSE_Ncgmp09.gdb.zip?sequence=9&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedro

[2019-09-13 18:15] hsnellen opened #557 "Geologic Map of the Twin Buttes 7.5' Quadrangle, Pima County, Arizona, v. 2.0"
**Name:**
Geologic Map of the Twin Buttes 7.5' Quadrangle, Pima County, Arizona, v. 2.0

**Metadata Source URL:**
http://hdl.handle.net/10150/630964

**Geodatabase Source URL:**
https://repository.arizona.edu/bitstream/handle/10150/630964/TwinButtes_ncgmp09.gdb.zip?sequence=7&isAllowed=y

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
Surficial/Be

[2019-09-28 18:25] cambro commented on #557
Was this source ready to be imported? It appears to be missing quite a bit of required data. e.g., DescriptionOfMapUnits has missing labels and mapunit fields for some records (this might be ok), and a number of units have no age. strat_names are not yet standardized.

[2019-09-30 16:39] hsnellen commented on #557
@cambro We are currently investigating, some of those map units might be obsolete and need to be removed from the table.  We will consult with the geologists.

[2019-10-20 01:06] cambro commented on #520
lots of errors on this one, but fixed prior to insert.
source_id 286
https://dev.macrostrat.org/burwell#10/-31.241585/145.73980999999998

[2019-10-20 01:07] #520 closed, assigned to cambro

[2019-10-20 01:16] cambro commented on #473
files not found on teststrata

[2019-11-02 15:53] cambro commented on #516
These data are not on test strata

[2019-11-02 15:54] cambro commented on #495
these data are not on teststrata

[2019-11-02 15:56] cambro commented on #494
these data are not on teststrata

[2019-11-18 01:42] cambro commented on #478
source_id 287. point strike and dip needs assessed before import.
https://dev.macrostrat.org/burwell#10/-30.25/142.25

[2019-11-18 02:26] cambro commented on #464
points not added due to inconsistent strike/azimuth.
source_id 288
https://dev.macrostrat.org/burwell#10/-30.75/142.25

[2019-11-18 02:51] cambro commented on #446
https://igws.indiana.edu/Bedrock
source_id=289
no lines, no points

https://dev.macrostrat.org/burwell#10/39.56251/-86.4375

[2019-11-18 02:55] #446 closed, assigned to nobody

[2019-11-18 04:18] cambro opened #558 "Beaver Quad, UT"
**Name:**
Interim geologic map of the southwestern quarter of the Beaver 30' x 60' quadrangle, Beaver, Iron, and Garfield Counties, Utah

**Source URL:**
https://geology.utah.gov/publication-details/?pub=OFR-686dm

**Estimated scale:**

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**

**Lithology field:**

**Time field:**

**Stratigraphy name field:**

**Description field:**

[2019-11-21 19:07] cambro commented on #558
source_id 290
https://dev.macrostrat.org/burwell#10/38.124979999999994/-112.75077999999999

[2019-11-24 17:15] #182 closed

[2019-11-24 17:16] #173 closed

[2019-11-24 17:16] #180 closed

[2019-11-24 17:18] #172 closed

[2019-11-24 17:18] #558 closed, assigned to nobody

[2020-01-06 16:02] hsnellen opened #559 "IGS-DWM-189 Sandpoint 30x60"
**Name:**
IGS-DWM-189 Sandpoint 30x60

**Source URL:**
https://www.idahogeology.org/outgoing/macrostratData/newFile/IGS-DWM-189_Sandpoint30x60_macrostrat.gdb.zip

**Estimated scale:**
Large

**Folder name:**

**Dataset names:**

**Number of bedrock polygons:**
3,473

**Lithology field:**
None

**Time field:**
DescriptionOfMapUnits

**Stratigraphy name field:**
DescriptionOfMapUnits

**Description

[2020-01-10 19:42] cambro commented on #559
A few minor modifications required, mostly involving lithology field and removing genetic/other information to comments.

source_id 292.
https://dev.macrostrat.org/burwell#10/48.24992/-116.521585

[2020-01-10 19:42] #559 closed, assigned to nobody